<mat-card [perfectScrollbar]="psConfig" class="mat-card1">                     
      <form [formGroup]="scheduleForm" (ngSubmit)="onScheduleFormSubmit(scheduleForm.value)">
          <mat-form-field appearance="outline" class="w-100">
              <mat-label>{{ 'app.label.userComment' | translate }}</mat-label>
              <textarea matInput autocomplete="off" rows="7"  formControlName="message"></textarea> 
              <mat-error *ngIf="scheduleForm.controls.message.errors?.required">{{'error.agentCommnetRequired' | translate}}</mat-error>               
          </mat-form-field>

            <mat-form-field appearance="outline" class="w-100">
                <mat-label>{{ 'app.label.brokerComment' | translate }}</mat-label>
                <textarea matInput autocomplete="off" rows="7" formControlName="comment"></textarea>  
                <mat-error *ngIf="scheduleForm.controls.comment.errors?.required">{{'error.userCommnetRequired' | translate}}</mat-error>   
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-100">
                <mat-label>{{ 'app.label.status' | translate }}</mat-label>
                <mat-select [(value)]="selected" formControlName="status">
                    <mat-option value="Visited">{{ 'app.label.visited' | translate }}</mat-option>
                    <mat-option value="Not Visited">{{ 'app.label.notVisited' | translate }}</mat-option>
                    <mat-option value="Pending">{{ 'app.label.pending' | translate }}</mat-option>
                    <mat-option value="Postpond">{{ 'app.label.postpond' | translate }}</mat-option>
                    <mat-option value="Canceled">{{ 'app.label.canceled' | translate }}</mat-option>
                </mat-select>  
                <mat-error *ngIf="scheduleForm.controls.status.errors?.required">{{'error.statusRequired' | translate}}</mat-error>                 
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-100">
                <mat-label>{{ 'app.label.date' | translate }}</mat-label>
                <input matInput [matDatepicker]="picker2" formControlName="scheduleDate">
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2 color="primary"></mat-datepicker>  
                <mat-error *ngIf="scheduleForm.controls.scheduleDate.errors?.required">{{'error.dateRequired' | translate}}</mat-error>     
            </mat-form-field>
          <div class="text-center">
              <button mat-button (click)="onNoClick()" type="button" color="primary">{{ 'app.button.close' | translate }}</button>
              <button mat-raised-button color="accent" type="submit">{{ 'app.button.submit' | translate }}</button>
          </div>
      </form>
</mat-card>