.label-sc
{
    color: gray;
    font-size: 11px;
}
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}
.el-boder{
    border-style: none !important;
}
.el-button-group{
    display: inline-block;
    vertical-align: middle;
}
.el-button--primary {
    border-style: none !important;
    color: #fff;
    background-color: #e01a27;
    border-color: #e01a27;
}

.el-button-sold {
    color: rgb(170, 170, 170) !important;
    background-color: rgb(221, 221, 221) !important;
}

.pointer-event{
    pointer-events: none !important;
}

.el-button, .el-input {
    font-size: 14px;
}
.el-button--small, .el-button--small.is-round {
    padding: 10px 5px;
    min-width: 70px;
    border: none;
}
button:focus{
    border: none !important;
    outline: none !important;
}
.el-button--big, .el-button--big.is-round {
    padding: 9px 5px;
    min-width: 70px;
    border: none;
}
.el-button-group .el-button--primary:first-child{
    border-right-color: hsla(0,0%,100%,.5);
}
.multiple_button {
    padding: 0;
    height: 36px;
}
.el-input__suffix {
    color: inherit;
    height: auto;
    margin-top: -3px;
}
.el-input__suffix-inner {
    pointer-events: all;
}
.el-select__caret {
    color: inherit;
}
.el-input__icon {
    height: 100%;
    width: 25px;
    text-align: center;
    transition: all .3s;
    line-height: 40px;
}
.el-select__caret {
    color: #c0c4cc;
    font-size: 14px;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s,-webkit-transform .3s;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    cursor: pointer;
}
.domWidth{
    width: 130px;
}
.actStatWidth{
    width: 100px;
}

.filter-more-opt{
    max-width: 35px;
    width: 100%;
    margin-top: 3px;
}
.filter_section-select-elrow2-button {
    width: 100%;
    min-width: 45px;
    height: 35px;
    border: none;
}
.property-style-s{
    margin-top: 14px !important;
    margin-left: 10px;
}
.el-button--mult {
    padding: 9px 5px;
    width: 50px  !important;
    min-width: 50px  !important;
    border: none;
}
.buttons-groups{
    margin-top: 8px;
}

@media (max-width:767px){
    .search-buttons {
        display: block !important;
        overflow: hidden !important;
        text-align: center;
    }
    .search-buttons button{
        width: 70%;
margin: 5px 0px;
text-align: center;
min-width: 200px;
    }
    .el-button--mult {
        width: 45px !important;
        min-width: 45px !important;
    }
    .el-button--big, .el-button--big.is-round {
        min-width: 45px;
    }
    .search-wrapper button.search-btn .mat-button-wrapper{
        place-content: center;
    }
}