<form [formGroup]="form" class="search-wrapper" [ngClass]="'variant-'+variant">
    <div [fxLayout]="(vertical) ? 'column' : 'row wrap'">
        <!-- <div fxFlex="100" fxFlex.gt-sm="12" fxFlex.sm="50" class="property-style-s" >
            <div class="el-button-group"> 
                <mat-radio-group aria-label="Select an option" formControlName="propertyType" [(ngModel)]="prTypeStatus">
                    <mat-radio-button value="residential" [checked]="prTypeStatus === 'residential'">{{ 'property.residential' | translate }}</mat-radio-button>
                    <mat-radio-button value="commercial" [checked]="prTypeStatus === 'commercial'">{{ 'property.commercial' | translate }}</mat-radio-button>
                </mat-radio-group>
            </div>
        </div> -->

        <div fxFlex="100" fxFlex.gt-sm="15" fxFlex.sm="50" class="property-style-s">
            <div class="el-button-group">
                <button [ngClass]="prTypeStatus === 'residential' ? 'el-button--primary' : 'el-button--default'" (click)="changePrTypeStatus('residential')" type="button" class="el-button el-button--small" >
                    <span>{{ 'property.residential' | translate }}</span>
                </button> 
                <button [ngClass]="prTypeStatus === 'residential' ? 'el-button--default' : 'el-button--primary'" (click)="changePrTypeStatus('commercial')"  type="button" class="el-button el-button--small">
                    <span>{{ 'property.commercial' | translate }}</span>
                </button>
            </div>
        </div>
        
        <div *ngIf="prTypeStatus === 'residential'" fxFlex="100" fxFlex.gt-sm="16" fxFlex.sm="50" class="p-2">
            <mat-form-field [appearance]="getAppearance()" [floatLabel]="getFloatLabel()" >
                <mat-label>{{ 'property.propertyTypes' | translate }}</mat-label> 
                <mat-select  placeholder="{{ 'property.details.type' | translate }}" formControlName="propertyOption">
                    <mat-option *ngFor="let propertyOption of propertyOptionsRes" [value]="propertyOption.name">
                        {{propertyOption.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div *ngIf="prTypeStatus === 'commercial'" fxFlex="100" fxFlex.gt-sm="16" fxFlex.sm="50" class="p-2">
            <mat-form-field [appearance]="getAppearance()" [floatLabel]="getFloatLabel()" >
                <mat-label>{{ 'property.details.type' | translate }}</mat-label>
                <mat-select placeholder="{{ 'property.details.type' | translate }}" formControlName="propertyOption">
                    <mat-option *ngFor="let propertyOption of propertyOptionsComm" [value]="propertyOption.name">
                        {{propertyOption.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div fxFlex="100" fxFlex.gt-sm="26" fxFlex.sm="50" class="p-2"> 
            <form [formGroup]="form1">
            <mat-form-field [appearance]="getAppearance()" [floatLabel]="getFloatLabel()" style="padding-bottom: 0px;">
                <input class="search-header-text" type="text"
                       placeholder="{{'searchPlaceholderheader' | translate}}"
                       aria-label="Number"
                       matInput
                       formControlName="myControl"
                       [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete" panelWidth="auto" >
                    <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
                    <ng-container *ngIf="!isLoading" class="search-dropper">
                        <mat-optgroup *ngFor="let group of searchValues" [label]="group.name" >
                            <mat-option (onSelectionChange)="optionSelected($event)"  *ngFor="let option of group.data" [value]="option" style="height: 45px !important;" [ngStyle]="{'height':group.name === 'Listing' ? '45px !important' : '45px !important' }">
                                <span *ngIf="option.locationSearch"> 
                                  <span class="search-list-address">{{option.locationSearch}} </span>
                                </span> 
                                <span *ngIf="group.name === 'Locations' && option.locationSearch">{{option.locationSearch}}</span>
                            </mat-option>
                        </mat-optgroup>
                    </ng-container>
                </mat-autocomplete>
              </mat-form-field>
            </form>
        </div>

        <div fxFlex="100" fxFlex.gt-sm="12" fxFlex.sm="50" class="property-style-s">
            <div class="el-button-group">
                <button [ngClass]="isForSale ? 'el-button--primary' : 'el-button--default'" (click)="changePrType('sale')" type="button" class="el-button el-button--small" >
                    <span>{{ 'property.forSale' | translate }}</span>
                </button> 
                <button [ngClass]="isForSale ? 'el-button--default' : 'el-button--primary'" (click)="changePrType('rent')"  type="button" class="el-button el-button--small">
                    <span>{{ 'property.forLease' | translate }}</span>
                </button>
            </div>
        </div>

        <div *ngIf="isForSale === true"  fxFlex="100" fxFlex.gt-sm="8" fxFlex.sm="50" class="p-2" class="property-style-s" >
            <div class="el-button-group">
                <button type="button" class="el-button multiple_button el-button--default el-button--small">
                    <!-- <span>{{ 'property.active' | translate }}</span> -->
                    <mat-select placeholder="{{ 'app.label.status' | translate }}" formControlName="withSold">
                        <mat-option *ngFor="let status of propertyStatusList" [value]="status.value">
                            {{status.name}}
                        </mat-option>
                    </mat-select> 
                </button>
            </div>
        </div>
        
        <div fxFlex="100" fxFlex.gt-sm="10" fxFlex.sm="50" class="p-2" class="property-style-s">
            <div class="el-button-group">
                <button type="button" class="el-button multiple_button el-button--default el-button--small domWidth">
                    <span>
                        <div class="el-select days_filter">
                            <div class="el-input el-input--suffix">
                                <mat-select placeholder="{{ 'property.details.daysOnMarket' | translate }}" formControlName="daysOnMarket" >
                                    <mat-option *ngFor="let propertyActTime of propertyActiveTime" [value]="propertyActTime.value">
                                        {{propertyActTime.name}}
                                    </mat-option>
                                </mat-select> 
                            </div>
                        </div>
                    </span>
                </button>
            </div>
        </div>
       
        <div fxFlex="100" fxFlex.gt-sm="5" fxFlex.sm="50" class="p-2" style="margin-top: 3px;" *ngIf="isHorizontal1 != 'false' && showMore == false">
            <div class="el-button-group filter-more-opt">
                <button type="button" class="el-button filter_section-select-elrow2-button el-button--default" (click)="showMore = !showMore" matTooltip="Advanced Search">
                    <mat-icon class="mat-icon-sm">filter_list</mat-icon>
                </button>
            </div>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="5" fxFlex.sm="50" class="p-2" style="margin-top: 3px;" *ngIf="isHorizontal1 != 'false' && showMore == false">
            <div class="el-button-group filter-more-opt">
                <button type="button" class="el-button filter_section-select-elrow2-button el-button--default" (click)="search()" matTooltip="Advanced Search">
                    <mat-icon class="mat-icon-sm">search</mat-icon>
                </button>
            </div>
        </div>
        
        
               
        <div *ngIf="showMore" [fxLayout]="(vertical) ? 'column' : 'row wrap'" class="w-100"> 
            <div *ngIf="prTypeStatus === 'residential'" fxFlex="100" fxFlex.gt-sm="33.3" fxFlex.sm="50" class="p-2" formGroupName="bedrooms">
                <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                    <mat-label class="label-sc">{{ 'property.bedrooms' | translate }}</mat-label>
                    <div fxFlex="100" class="buttons-groups">
                        <div class="el-button-group">
                            <button [ngClass]="bedrooms.size == 0 ? 'el-button--primary' : 'el-button--default'" (click)="addBedrooms('All')" type="button" class="el-button el-button--mult" >
                                <span>{{ 'property.any' | translate }}</span>
                            </button> 
                            <button [ngClass]="bedrooms.has('1') ? 'el-button--primary' : 'el-button--default'" (click)="addBedrooms('1')" type="button" class="el-button el-button--mult" >
                                <span>1</span>
                            </button> 
                            <button [ngClass]="bedrooms.has('2') ? 'el-button--primary' : 'el-button--default'" (click)="addBedrooms('2')" type="button" class="el-button el-button--mult" >
                                <span>2</span>
                            </button> 
                            <button [ngClass]="bedrooms.has('3') ? 'el-button--primary' : 'el-button--default'" (click)="addBedrooms('3')" type="button" class="el-button el-button--mult" >
                                <span>3</span>
                            </button> 
                            <button [ngClass]="bedrooms.has('4') ? 'el-button--primary' : 'el-button--default'" (click)="addBedrooms('4')" type="button" class="el-button el-button--mult" >
                                <span>4</span>
                            </button>
                            <button [ngClass]="bedrooms.has('5+') ? 'el-button--primary' : 'el-button--default'" (click)="addBedrooms('5+')" type="button" class="el-button el-button--mult" >
                                <span>5+</span>
                            </button> 
                        </div>
                    </div>
                </div> 
            </div> 
    
            <div *ngIf="prTypeStatus === 'residential'" fxFlex="100" fxFlex.gt-sm="33.3" fxFlex.sm="50" class="p-2" formGroupName="washrooms">
                <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                    <mat-label class="label-sc">{{ 'property.bathroom' | translate }}</mat-label>
                    <div fxFlex="100" class="buttons-groups">
                        <div class="el-button-group">
                            <button [ngClass]="bathrooms.length == 0 ? 'el-button--primary' : 'el-button--default'" (click)="addBathrooms('All')" type="button" class="el-button el-button--mult" >
                                <span>{{ 'property.any' | translate }}</span>
                            </button> 
                            <button [ngClass]="bathrooms.indexOf('1') !== -1 ? 'el-button--primary' : 'el-button--default'" (click)="addBathrooms('1')" type="button" class="el-button el-button--mult" >
                                <span>1+</span>
                            </button> 
                            <button [ngClass]="bathrooms.indexOf('2') !== -1 ? 'el-button--primary' : 'el-button--default'" (click)="addBathrooms('2')" type="button" class="el-button el-button--mult" >
                                <span>2+</span>
                            </button> 
                            <button [ngClass]="bathrooms.indexOf('3') !== -1 ? 'el-button--primary' : 'el-button--default'" (click)="addBathrooms('3')" type="button" class="el-button el-button--mult" >
                                <span>3+</span>
                            </button> 
                            <button [ngClass]="bathrooms.indexOf('4') !== -1 ? 'el-button--primary' : 'el-button--default'" (click)="addBathrooms('4')" type="button" class="el-button el-button--mult" >
                                <span>4+</span>
                            </button>
                            <button [ngClass]="bathrooms.indexOf('5') !== -1 ? 'el-button--primary' : 'el-button--default'" (click)="addBathrooms('5')" type="button" class="el-button el-button--mult" >
                                <span>5+</span>
                            </button> 
                        </div>
                    </div>
                </div> 
            </div> 
            <div *ngIf="prTypeStatus === 'residential'" fxFlex="100" fxFlex.gt-sm="33.3" fxFlex.sm="50" class="p-2" formGroupName="openHouse">
                <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                    <mat-label class="label-sc">{{ 'property.openHouse' | translate }}</mat-label>
                    <div fxFlex="100" class="buttons-groups">
                        <div class="el-button-group">
                            <button [ngClass]="openHouseDay === '-1' ? 'el-button--primary' : 'el-button--default'" (click)="addOpenHouse('-1')" type="button" class="el-button el-button--big" >
                                <span>{{ 'property.any' | translate }}</span>
                            </button> 
                            <button [ngClass]="openHouseDay === '0' ? 'el-button--primary' : 'el-button--default'" (click)="addOpenHouse('0')" type="button" class="el-button el-button--big" >
                                <span>{{ 'property.openHouse.today' | translate }}</span>
                            </button> 
                            <button [ngClass]="openHouseDay === '1' ? 'el-button--primary' : 'el-button--default'" (click)="addOpenHouse('1')" type="button" class="el-button el-button--big" >
                                <span>{{ 'property.openHouse.tomorrow' | translate }}</span>
                            </button> 
                            <button [ngClass]="openHouseDay === '7' ? 'el-button--primary' : 'el-button--default'" (click)="addOpenHouse('7')" type="button" class="el-button el-button--big" >
                                <span>{{ 'property.openHouse.7days' | translate }}</span>
                            </button>
                        </div>
                    </div>
                </div> 
            </div> 

            <div *ngIf="prTypeStatus === 'residential'" fxFlex="100" fxFlex.gt-sm="33.3" fxFlex.sm="50" class="p-2" formGroupName="parkingSpaces">
                <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                    <mat-label class="label-sc">{{ 'property.garage/parking' | translate }}</mat-label>
                    <div fxFlex="100" class="buttons-groups">
                        <div class="el-button-group">
                            <button [ngClass]="parkings.indexOf('0') !== -1 || parkings.length == 0 ? 'el-button--primary' : 'el-button--default'" (click)="addParkings('0')" type="button" class="el-button el-button--mult" >
                                <span>{{ 'property.any' | translate }}</span>
                            </button> 
                            <button [ngClass]="parkings.indexOf('1') !== -1 ? 'el-button--primary' : 'el-button--default'" (click)="addParkings('1')" type="button" class="el-button el-button--mult" >
                                <span>1+</span>
                            </button> 
                            <button [ngClass]="parkings.indexOf('2') !== -1 ? 'el-button--primary' : 'el-button--default'" (click)="addParkings('2')" type="button" class="el-button el-button--mult" >
                                <span>2+</span>
                            </button> 
                            <button [ngClass]="parkings.indexOf('3') !== -1 ? 'el-button--primary' : 'el-button--default'" (click)="addParkings('3')" type="button" class="el-button el-button--mult" >
                                <span>3+</span>
                            </button> 
                            <button [ngClass]="parkings.indexOf('4') !== -1 ? 'el-button--primary' : 'el-button--default'" (click)="addParkings('4')" type="button" class="el-button el-button--mult" >
                                <span>4+</span>
                            </button>
                            <button [ngClass]="parkings.indexOf('5') !== -1 ? 'el-button--primary' : 'el-button--default'" (click)="addParkings('5')" type="button" class="el-button el-button--mult" >
                                <span>5+</span>
                            </button> 
                        </div>
                    </div>
                </div> 
            </div> 

            <div fxFlex="100" fxFlex.gt-sm="33.3" fxFlex.sm="50" class="p-2" *ngIf="prTypeStatus != 'commercial'">                         
                <mat-form-field [appearance]="getAppearance()" [floatLabel]="getFloatLabel()">
                    <mat-label>{{ 'property.details.basement' | translate }}</mat-label>
                    <mat-select placeholder="{{ 'app.button.selectBasementType' | translate }}" formControlName="basementStyle" >
                        <mat-option *ngFor="let basementStyle of basementStyles" [value]="basementStyle.name">
                            {{basementStyle.name}}
                        </mat-option>
                    </mat-select> 
                </mat-form-field>
            </div>
            
            <div *ngIf="form.controls['propertyOption'].value == 'Condo Apt'" fxFlex="100" fxFlex.gt-sm="33.3" fxFlex.sm="50" class="p-2" formGroupName="sliderControlGroup">                         
                <mat-label class="label-sc">Area({{ 'property.feet' | translate }})</mat-label>
                <ng5-slider [(value)]="value" [(highValue)]="highValue" formControlName="sliderControl" [options]="options"></ng5-slider>
            </div>

            <div fxFlex="100" fxFlex.gt-sm="33.3" fxFlex.sm="50" class="p-2" formGroupName="price">

                <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                    <div fxFlex="45">
                        <mat-form-field [appearance]="getAppearance()" [floatLabel]="getFloatLabel()">
                            <mat-label>{{(variant == 1) ? 'Price' : 'Price From'}}</mat-label>
                            <input matInput autocomplete="off" placeholder="From" formControlName="from" type="text" onlyNumber>                  
                        </mat-form-field>
                    </div>
                    <div fxFlex="10" class="text-center" [class.pt-2]="variant == 2">
                        <mat-icon class="text-muted">remove</mat-icon>
                    </div>
                    <div fxFlex="45">
                        <mat-form-field [appearance]="getAppearance()" [floatLabel]="getFloatLabel()">
                            <mat-label>{{(variant == 1) ? '' : 'Price To'}}</mat-label>
                            <input matInput autocomplete="off" placeholder="To" formControlName="to" type="text" onlyNumber>                  
                        </mat-form-field>
                    </div>
                </div> 
    
            </div>          
    
        </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center" class="p-2 search-buttons"  *ngIf="isHorizontal1 === 'false'  || showMore == true" style="overflow: auto;">       
      <button mat-raised-button color="warn" class="uppercase mx-1 warning" (click)="reset()" style="border: lightgray solid 1px;">{{ 'property.clear' | translate }}</button>      
      <button mat-raised-button color="primary" class="uppercase mx-1" routerLink="/properties" matTooltip="Advanced Search" style="min-width: 20px;">map Search</button>      
      <button *ngIf="searchOnBtnClick" mat-raised-button color="primary" class="search-btn mx-1" (click)="search()">{{ 'property.apply' | translate }}</button>
      <button *ngIf="!vertical && showMore" mat-raised-button color="primary" class="uppercase mx-1" (click)="showMore = !showMore" matTooltip="Advanced Search" style="min-width: 15px;"><mat-icon class="mat-icon-sm">filter_list</mat-icon></button>
      <button *ngIf="!vertical && !showMore" mat-raised-button color="primary" class="uppercase mx-1" (click)="showMore = !showMore" matTooltip="Advanced Search" style="min-width: 20px;"><mat-icon class="mat-icon-sm">filter_list</mat-icon></button> 
    </div>
</form>
