<div class="section mt-3">
  <div class="px-3">
      <div class="theme-container">
          <h1 class="section-title">{{ 'app.label.featuredProperties' | translate }}</h1>
          <app-properties-carousel [properties]="featuredProperties"></app-properties-carousel>      
      </div>
  </div>   
</div> 