<mat-form-field appearance="outline" class="w-100">
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="{{ 'app.label.searchuser' | translate }}" autocomplete="off">
</mat-form-field>
<div class="table-wrapper"> 
    <table mat-table [dataSource]="dataSource" matSort class="w-100">
  
      <!-- ID Column -->
      <ng-container matColumnDef="Name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'app.label.name' | translate }} </th>
        <td mat-cell *matCellDef="let user"> {{user.name}} </td>
      </ng-container>  

      <!-- Image Column -->
      <ng-container matColumnDef="Contact">
        <th mat-header-cell *matHeaderCellDef> {{ 'property.contactNumber' | translate }} </th>
        <td mat-cell *matCellDef="let user">{{user.contactNumber}}</td>
      </ng-container> 

      <ng-container matColumnDef="PropertyID">
        <th mat-header-cell *matHeaderCellDef> {{ 'property' | translate }}: </th>
        <td mat-cell *matCellDef="let user"><a [routerLink]="['/properties', user.propertyId]">{{user.propertyId}}</a></td>
      </ng-container>
  
      <!-- Title Column -->
      <ng-container matColumnDef="Status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'app.label.status' | translate }} </th>
        <td mat-cell *matCellDef="let user">
          <span *ngIf="user.status">{{user.status}}</span>
          <span *ngIf="!user.status">-</span>
        </td>
      </ng-container> 

      <!-- Published Column -->
      <ng-container matColumnDef="Comments">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'app.label.comments' | translate }} </th>
        <td mat-cell *matCellDef="let user"> {{user.message}} </td>
      </ng-container> 

      <!-- Views Column -->
      <ng-container matColumnDef="Followup_date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'app.label.folloupdate' | translate }} </th>
        <td mat-cell *matCellDef="let user"> 
          <span *ngIf="user.scheduleDate">{{user.scheduleDate | date:"dd MMMM, yyyy"}}</span>
          <span *ngIf="!user.scheduleDate">-</span>
        </td>
      </ng-container> 

      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> {{ 'app.label.action' | translate }} </th>
        <td mat-cell *matCellDef="let user">  
            <a [routerLink]="['/account/visit-details', user.id]" mat-icon-button color="primary" matTooltip="Edit">
                <mat-icon>edit</mat-icon>
            </a>
        </td>
      </ng-container> 
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let property; columns: displayedColumns;">
      </tr>
    </table> 
    <p *ngIf="dataSource?.data.length === 0" class="py-5 mb-0 text-center">{{ 'app.label.noDataAvailable' | translate }}</p> 
</div>
<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>