<div class="p-3">
    <div class="theme-container">
      <div fxLayout="row" fxLayoutAlign="center center" class="my-3">
        <div *ngIf="errorMessage != ''" class="align-text-label">{{ errorMessage }}</div>
        <div *ngIf="successMessage != ''" class="align-text-label">{{ successMessage }}
        <a mat-button routerLink="/login" color="accent" class="w-100">Sign in!</a></div>
      </div>
    </div>
  </div>