<div class="section mt-3">
    <div class="px-3">
        <div class="theme-container">
            <h1 class="section-title">{{ 'app.label.ourServices' | translate }}</h1> 
            <div fxLayout="row wrap" class="services-wrapper">
                <div fxFlex="100" fxFlex.gt-md="25" fxFlex.gt-sm="50" class="p-2">
                    <mat-card fxLayout="column" fxLayoutAlign="start center" class="h-100 w-100 text-center">            
                        <mat-icon class="mat-icon-xlg" color="primary">location_on</mat-icon>
                        <h2 class="capitalize fw-600 my-3">{{ 'app.label.findplaces' | translate }}</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vestibulum egestas nunc sed ultricies.</p>           
                    </mat-card>
                </div>
                <div fxFlex="100" fxFlex.gt-md="25" fxFlex.gt-sm="50" class="p-2">
                    <mat-card fxLayout="column" fxLayoutAlign="start center" class="h-100 w-100 text-center">            
                        <mat-icon class="mat-icon-xlg" color="primary">home</mat-icon>
                        <h2 class="capitalize fw-600 my-3">{{ 'app.label.buyorrent' | translate }}</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vestibulum egestas nunc sed ultricies.</p>             
                    </mat-card>
                </div>
            </div>
        </div>
    </div>   
</div>