<div id="load-more">
  <div *ngIf="!settings.loadMore.complete">
      <button *ngIf="!settings.loadMore.start" mat-raised-button color="primary" (click)="startLoad()" class="uppercase">{{ 'app.button.loadmore' | translate }}</button>
      <mat-spinner *ngIf="settings.loadMore.start"></mat-spinner>
  </div>
  <mat-chip-list *ngIf="settings.loadMore.complete">
      <!-- <mat-chip selected disableRipple="true" color="warn" class="uppercase ws-nowrap">
          {{settings.loadMore.result}} results
      </mat-chip>  -->
  </mat-chip-list>
</div>
