<div class="p-3">
  <div class="theme-container">

    <div fxLayout="row" fxLayoutAlign="center center" class="my-3">
        <mat-card [style.max-width.px]="500">
          <div fxLayout="column" fxLayoutAlign="center center" class="text-center">  
            <h1 class="uppercase">{{'app.button.signin' | translate}}</h1>  
            <a mat-button routerLink="/register" color="accent" class="w-100">{{'login.dontHaveAccount' | translate}}</a>    
          </div>
          <div *ngIf="showLoader" class="loading-indicator">
            <mat-progress-spinner mode="indeterminate" color="accent"></mat-progress-spinner>
          </div>
          <form [formGroup]="loginForm" (ngSubmit)="onLoginFormSubmit(loginForm.value)">
              <mat-form-field appearance="outline" class="w-100 mt-2">
                  <mat-icon matPrefix class="mr-1 text-muted">person</mat-icon>
                  <mat-label>{{'login.username' | translate}}</mat-label>
                  <input matInput placeholder="Username" formControlName="username" required>
                  <mat-error *ngIf="loginForm.controls.username.errors?.required">{{'login.usernameRequired' | translate}}</mat-error>
                  <mat-error *ngIf="loginForm.controls.username.hasError('minlength')">{{'login.usernameError' | translate}}</mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline" class="w-100 mt-1">
                  <mat-icon matPrefix class="mr-1 text-muted">lock</mat-icon>
                  <mat-label>{{'app.label.password' | translate}}</mat-label>
                  <input matInput placeholder="Password" formControlName="password" required [type]="hide ? 'password' : 'text'">
                  <mat-error *ngIf="loginForm.controls.password.errors?.required">{{'app.label.passwordRequired' | translate}}</mat-error>
                  <mat-error *ngIf="loginForm.controls.password.hasError('minlength')">{{'app.label.passwordError' | translate}}</mat-error>
                  <button mat-icon-button matSuffix (click)="hide = !hide" type="button" class="text-muted">
                      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
              </mat-form-field> 
              <div *ngIf="errorFlag" style="color: red;"><p>{{ errorMessage }}</p></div>
              <mat-slide-toggle formControlName="rememberMe" class="my-2">{{'login.keepMe' | translate}}</mat-slide-toggle>
              <div class="text-center mt-2"> 
                  <button mat-raised-button color="accent" class="uppercase" type="submit">
                    {{'login.signAccount' | translate}}
                  </button>
              </div>     
              <div fxLayout="row" fxLayoutAlign="space-between center" class="mt-3">
                  <div class="divider w-100"></div>
                  <h3 class="text-muted ws-nowrap fw-500 p-2">{{'login.oneClick' | translate}}</h3>                       
                  <div class="divider w-100"></div>
              </div>  
              <div class="text-center py-3">
                  <button style="margin-left: 20px;" mat-mini-fab color="primary" matTooltip="Facebook" type="button" (click)="signInWithFB()">
                    <svg class="mat-icon" viewBox="0 0 24 24">
                        <path d="M17,2V2H17V6H15C14.31,6 14,6.81 14,7.5V10H14L17,10V14H14V22H10V14H7V10H10V6A4,4 0 0,1 14,2H17Z" />
                    </svg>
                  </button>                        
                  <!-- <button mat-mini-fab color="primary" matTooltip="Twitter" type="button" class="mx-3">
                    <svg class="mat-icon" viewBox="0 0 24 24">
                        <path d="M22.46,6C21.69,6.35 20.86,6.58 20,6.69C20.88,6.16 21.56,5.32 21.88,4.31C21.05,4.81 20.13,5.16 19.16,5.36C18.37,4.5 17.26,4 16,4C13.65,4 11.73,5.92 11.73,8.29C11.73,8.63 11.77,8.96 11.84,9.27C8.28,9.09 5.11,7.38 3,4.79C2.63,5.42 2.42,6.16 2.42,6.94C2.42,8.43 3.17,9.75 4.33,10.5C3.62,10.5 2.96,10.3 2.38,10C2.38,10 2.38,10 2.38,10.03C2.38,12.11 3.86,13.85 5.82,14.24C5.46,14.34 5.08,14.39 4.69,14.39C4.42,14.39 4.15,14.36 3.89,14.31C4.43,16 6,17.26 7.89,17.29C6.43,18.45 4.58,19.13 2.56,19.13C2.22,19.13 1.88,19.11 1.54,19.07C3.44,20.29 5.7,21 8.12,21C16,21 20.33,14.46 20.33,8.79C20.33,8.6 20.33,8.42 20.32,8.23C21.16,7.63 21.88,6.87 22.46,6Z" />
                    </svg>
                  </button> -->
                  <button style="margin-left: 20px;" mat-mini-fab color="primary" matTooltip="Google" type="button" (click)="signInWithGoogle()">
                    <svg class="mat-icon" viewBox="0 0 24 24">
                        <path d="M21.35,11.1H12.18V13.83H18.69C18.36,17.64 15.19,19.27 12.19,19.27C8.36,19.27 5,16.25 5,12C5,7.9 8.2,4.73 12.2,4.73C15.29,4.73 17.1,6.7 17.1,6.7L19,4.72C19,4.72 16.56,2 12.1,2C6.42,2 2.03,6.8 2.03,12C2.03,17.05 6.16,22 12.25,22C17.6,22 21.5,18.33 21.5,12.91C21.5,11.76 21.35,11.1 21.35,11.1V11.1Z" />
                    </svg>
                  </button> 
              </div>     
          </form>
          <mat-card-actions fxLayoutAlign="end center">
            <button routerLink="/forgot-password" mat-button>
              <mat-icon class="text-muted">vpn_key</mat-icon>
              <span class="mx-1">{{'login.forgotPassword' | translate}}</span>
            </button> 
          </mat-card-actions>
        </mat-card>
    </div> 

  </div>
</div>