<div class="p-3">
  <div class="theme-container">

    <div fxLayout="row" fxLayoutAlign="center center" class="my-3">
        <mat-card [style.max-width.px]="500">
          <div fxLayout="column" fxLayoutAlign="center center" class="text-center">  
            <h1 class="uppercase">{{'login.forgotPassword' | translate}}</h1>  
            <a mat-button routerLink="/register" color="accent" class="w-100">{{'login.dontHaveAccount' | translate}}</a>    
          </div>
          <div *ngIf="showLoader" class="loading-indicator">
            <mat-progress-spinner mode="indeterminate" color="accent"></mat-progress-spinner>
          </div>
          <form [formGroup]="loginForm" (ngSubmit)="onLoginFormSubmit(loginForm.value)">
              <mat-form-field appearance="outline" class="w-100 mt-1">
                  <mat-icon matPrefix class="mr-1 text-muted">email</mat-icon>
                  <mat-label>{{'profile.email' | translate}}</mat-label>
                  <input matInput placeholder="Email" formControlName="email" required>
                  <mat-error *ngIf="loginForm.controls.email.errors?.required">{{'profile.email.emailRequired' | translate}}</mat-error>
                  <mat-error *ngIf="loginForm.controls.email.hasError('invalidEmail')">{{'profile.email.emailError' | translate}}
                  </mat-error>
              </mat-form-field>
              <div *ngIf="errorFlag == true" style="color: red;"><p>{{ errorMessage }}</p></div>
              <div class="text-center mt-2"> 
                  <button mat-raised-button color="accent" class="uppercase" type="submit">
                    {{'app.button.submit' | translate}} 
                  </button>
              </div>
          </form>
          
          <mat-card-actions fxLayoutAlign="end center">
            <button routerLink="/login" mat-button>
              <mat-icon class="text-muted">vpn_key</mat-icon>
              <span class="mx-1">{{'login.login' | translate}}</span>
            </button> 
          </mat-card-actions>
        </mat-card>
    </div> 
  </div>
</div>