<mat-toolbar id="top-toolbar" class="top-toolbar" style="background-color: #e01a27;" updateState="sidenavToggle1()">
  <div class="theme-container" fxLayout="row" fxLayoutAlign="space-between center">
    <div fxLayout="row" fxLayoutAlign="start center" class="header-toolbar">
      <span fxHide="false" fxHide.gt-sm class="header-toolbar-menu">
        <!-- <button mat-button (click)="sidenavToggle()">
          <mat-icon>menu</mat-icon>
        </button>  -->
      </span>
      <span routerLink="/" style="padding: 0 5px 0 10px;" class="header-toolbar-logo" >
        <img src="assets/images/jag.png" class="app-logo"> 
      </span>
      <!-- *ngIf="cState != 'home'" -->
    </div>
    <div fxLayout="row" fxLayoutAlign="end center" class="header-toolbar-search">
      <!-- <mat-icon style="margin-left: 20px;" >search</mat-icon>
      <div style="padding-bottom: 0px;" > 
        <form [formGroup]="form1">
        <mat-form-field [appearance]="getAppearance()" [floatLabel]="getFloatLabel()" style="padding-bottom: 0px;">
            <input class="search-header-text" type="text"
                   placeholder="{{'searchPlaceholderheader' | translate}}"
                   aria-label="Number"
                   matInput
                   formControlName="myControl"
                   [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete" panelWidth="auto" [displayWith]="getOptionText">
                <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
                <ng-container *ngIf="!isLoading" class="search-dropper">
                    <mat-optgroup *ngFor="let group of searchValues" [label]="group.name" >
                        <mat-option (onSelectionChange)="optionSelected($event)"  *ngFor="let option of group.data" [value]="option" style="height: 68px !important;" [ngStyle]="{'height':group.name === 'Listing' ? '38px !important' : '58px !important' }">
                            <span *ngIf="group.name === 'Listing' && option.locationSearch"><Span class="search-list-address">{{option.locationSearch}}</Span> <Span class="search-list-prise">{{option.listPrice | currency : 'USD' : 'symbol' : '1.0'}}</Span> 
                              <br><span class="search-list-address">{{option.bedrooms}} Bedrooms, {{option.washrooms}} Bathrooms, {{option.garageParkSpaces}} Parkings</span>
                            <br><span class="search-list-date">date : {{option.listingEntryDate | date:"dd MMMM, yyyy" }} </span> <Span class="search-list-prtype">{{option.type}}[{{option.saleLease}}]</Span></span> 
                            <span *ngIf="group.name === 'Locations' && option.locationSearch">{{option.locationSearch}}</span>
                        </mat-option>
                    </mat-optgroup>
                </ng-container>
            </mat-autocomplete>
          </mat-form-field>
        </form>
    </div> -->
      <a class="app-toolbar-options"*ngIf="userType ==='USER'" routerLink="/properties" matTooltip="Map Search">{{ 'app.label.mapsearch' | translate }}</a>
      <a class="app-toolbar-options" routerLink="/blogs" matTooltip="Blogs">{{ 'app.blogs' | translate }}</a>
      <a class="app-toolbar-options" *ngIf="userType ==='USER'" routerLink="/about" matTooltip="About Us">{{ 'app.about' | translate }}  </a>
      <app-lang></app-lang>
      <app-user-menu></app-user-menu>
    </div>    
  </div>           
</mat-toolbar>  
<mat-toolbar id="main-toolbar" class="mat-elevation-z2" style="background: transparent !important;box-shadow: none !important;"> 
  <div class="theme-container" fxLayout="row" fxLayoutAlign="space-between center">
    <div fxLayout="row" fxLayoutAlign="start center">
    </div>
  </div>  
</mat-toolbar>