<mat-card [perfectScrollbar]="psConfig" class="mat-card1">                     
      <form [formGroup]="scheduleForm" (ngSubmit)="onScheduleFormSubmit(scheduleForm.value)">
          <mat-form-field appearance="outline" class="w-100">
              <mat-label> {{ 'app.label.name' | translate }}</mat-label>
              <input matInput autocomplete="off" formControlName="name">  
              <mat-icon matPrefix>perm_identity</mat-icon>                
          </mat-form-field>
          <mat-form-field appearance="outline" class="w-100">
              <mat-label>{{ 'property.contactNumber' | translate }}</mat-label>
              <input matInput autocomplete="off" formControlName="contactNumber">  
              <mat-icon matPrefix>phone</mat-icon>                
          </mat-form-field>
          <mat-form-field appearance="outline" class="w-100">
              <mat-label>{{ 'register.email' | translate }}</mat-label>
              <input matInput formControlName="email">        
              <mat-icon matPrefix>email</mat-icon>          
          </mat-form-field>
          <!-- <mat-form-field appearance="outline" class="w-100">
              <mat-label>Your Message</mat-label>
              <textarea matInput autocomplete="off" formControlName="message"></textarea>
          </mat-form-field> -->
          <div class="text-center">
              <button mat-button (click)="onNoClick()" type="button" color="primary">{{ 'app.button.close' | translate }}</button>
              <button mat-raised-button color="accent" type="submit">{{ 'app.button.submit' | translate }}</button>
          </div>
      </form>
</mat-card>