/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import "app/theme/styles/spinner";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~swiper/dist/css/swiper.min.css';
@import "app/theme/styles/base";
@import "app/theme/styles/spaces";
@import "app/theme/styles/theme";
@import "app/theme/styles/rtl";
@import "~bootstrap/dist/css/bootstrap.min.css";

.custom-slider {
    .ng5-slider {
        
      .ng5-slider-selection {
        background: rgb(255, 255, 0) !important;
      }

      .ng5-slider-span {
        font-size: 6px;
      }

      .ng5-slider-pointer{
        background-color: red !important;
        font-size: 6px;
      }
    }
    
  }
.ng5-slider {
    margin:20px 0 15px !important;
}
  .ng5-slider .ng5-slider-bubble {
    cursor: default;
    bottom: 10px !important;
    
    font-size: 12px !important;
    }

  .ng5-slider .ng5-slider-pointer{
    height: 16px !important;
    width: 16px !important;
    margin-top: 8px !important;
    border-radius: 8px !important;
  }
  .ta-results.list-group{
    max-width: 400px;
    overflow: auto;
    max-height: 75vh;
    border: 1px solid #ccc;
}
.typeahead-wrap .list-group-item {    
    width:100%;
    text-align: left;
    position: relative;
    display: block;
    padding: 5px 10px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
}

.typeahead-wrap .list-group-item{
    width:100%;
    text-align: left;
}
.typeahead-wrap .list-group-item.active{
    background-color: #ccc;
}

.typeahead-wrap .list-group-item .item-name {
    font-weight: bold;
}
.mat-optgroup-label {
  margin-bottom: 0px !important;
}
.mat-option  {
  line-height: 18px !important;
  height: 48px !important;
  padding: 5px 9px !important;
  border-bottom: solid 1px  rgba(73, 65, 65, 0.04) !important;
  font-size: 14px !important;  
}
.mat-radio-button {
  padding-right: 10px;
}
.mat-card-header-text {
  margin: 0 0px !important;
}
.popup-style-left{
  max-width: 360px;
  padding-left: 20px;
}
.popup-style-right{
  max-width: 150px;
  width: 150px;
  text-align: center;
}
.popup-width{
  width: 300px;
}
.leaflet-popup-content-wrapper{
  border-radius: 1px !important;
}
.popup-container{
  padding: 10px;
  text-align: left;
  margin-top: 10px;
  background-color: white;
  display: none;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 1;
  left: 0;
  right: 0;
  bottom: 0;
  height: 27px;
  width: 54px;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.some-extra-thing{
  border-top: 1px solid red;
  padding-top: 7px;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.leaflet-control-layers-separator-doted {
  border-top: 1px dotted #eee;
  margin-top: 7px;
  padding-top: 7px;
}
.loading-indicator {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loading-indicator:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}

.vue-flex, .vue-flex>* {
  box-sizing: border-box;
}

.vue-flex.vue-flex-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.vue-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
.left {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.right {
  color: #02adf0;
  text-align: right;
}

.school-mp-border{
    position: relative;
    overflow: hidden;
    border: 1px solid #ccc;
}
.contact_community_agent[data-v-34e3193b] {
  max-width: 600px;
  padding: 20px;
  background: #f2f2f2 !important;
}

.form_title {
  font-size: 20px;
  padding-bottom: 15px;
}

.mat-form-field-flex{
  background: transparent !important;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
  background: #fff !important;
  border-radius: 6px;
}

.mat-form-field-appearance-outline .mat-form-field-flex {
  background: transparent !important;
}
.table-wrapper td.mat-cell, .table-wrapper th.mat-header-cell{
  text-align: left;
}
.table-wrapper td.mat-cell, .table-wrapper th.mat-header-cell {
  padding: 5px;
  height: 36px;
}
tr.mat-header-row {
  height: 36px;
  }
a:hover {
  color: inherit;
}

.el-button--warning {
  color: #fff;
  background-color: #e6a23c;
  border-color: #e6a23c;
}
.el-input {
  position: relative;
  font-size: 16px;
  display: inline-block;
  width: 100%;
}
.el-input--prefix .el-input__inner {
  padding-left: 30px;
}
.school_tag {
  font-size: 14px;
  margin-right: 10px;
  border-radius: 2px;
  background: #e1f3ff;
  color: #009cff;
  border: 1px solid #009cff;
  padding: 0 2px;
  height: 25px;
  line-height: 25px;
  }

  .molecular {
    color: #ff9d00;
    font-size: 22px;
  }

  .distance {
    text-align: right;
    font-weight: 401;
    font-size: 14px;
    color: #666;
  }

  .denominator {
    color: #2e3b65;
    font-size: 20px;
    padding-right: 5px;
  }

  .map-button-satelite{
    border-top: 2px solid #6e6a6a;
    border-left: 2px solid #6e6a6a;
    border-bottom: 2px solid #6e6a6a;
    padding: 3px 7px;
    border-radius: 0px;
  }

  .map-button-street{
    border-top: 2px solid #6e6a6a;
    border-bottom: 2px solid #6e6a6a;
    border-right: 2px solid #6e6a6a;
    padding: 3px 7px;
    border-radius: 0px;
  }
  .map-button-selected{
    color: #fff;
    background: #e01a27;
  }
  .map-button-unselected{
    background: #fff;
    color: #000;
  }
  .map-button-school{
    border: 2px solid #6e6a6a;
    padding: 3px 7px;
    border-radius: 0px;
    color: #fff;
    background: #e01a27;
  }
  .app-toolbar-options{
    font: 400 14px/32px Montserrat;
    letter-spacing: normal;
    color: white;
    padding: 10px;
  }
  .app-logo{
    width: 150px;
    margin-bottom: 9px;
    cursor: pointer;
  }
//   html[dir="rtl"] .mat-form-field-appearance-outline .mat-form-field-outline-end {
//     border-right-style: solid !important;
//     border-left-style: none !important;
//     border-radius: 0 5px 5px 0 !important;
//  }
html[dir="rtl"] .mat-form-field-appearance-outline .mat-form-field-outline-start {
  width: 5px !important;
}

html[dir="rtl"] .theme-container{
  direction: rtl;
}
html[dir="rtl"] .buttons-groups[_ngcontent-my-app-c429]{
  text-align: right !important;
}
html[dir="rtl"] .mat-card{
  direction: rtl;
}
html[dir="rtl"]  .subscribe-form{
  text-align: right !important;
}
.subscribe-form{
  text-align: left;
}

@media (min-width: 960px){
  html[dir="rtl"] .details-rtl{
    margin-right: auto !important;
    margin-left: 360px !important;
  }
  html[dir="rtl"] .account-rtl{
    margin-left: auto !important;
    margin-right: 280px !important;
  }
}
.rtl-pr-item{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.rtl-pr-item span{
  clear: both !important;
}

.property-item[_ngcontent-my-app-c426] .features[_ngcontent-my-app-c426] p[_ngcontent-my-app-c426]:after {
  display: none !important;
}
html[dir="rtl"] .mat-card {
  text-align: right !important;
  direction: rtl;
}
html[dir="rtl"] .single-property .mat-drawer-content .mat-expansion-panel-body {
  text-align: right !important;
}
html[dir="rtl"] .school_detail_container[_ngcontent-my-app-c457] {
  text-align: right !important;
}
html[dir="rtl"] .info{
  text-align: right !important;
}
html[dir="rtl"] .details-align[_ngcontent-my-app-c457]{
  text-align: right !important;
}
th.mat-header-cell {
  background: #e6e5ea;
  border-bottom: 1px solid #ebeef5;
  color: #293658;
  font-size: 15px;
}

td.mat-cell{
  font-weight: 400 !important;
  color: #666 !important;
}

.marker-cluster-small div {
  background-color: rgba(252, 1, 1, 0.7) !important;
  color: #fff !important;
}

.marker-cluster-small {
  background-color: rgba(226, 140, 140, 0.4) !important;
}

.leaflet-control-layers {
  visibility: hidden;
}

.list_status {
  color: #e01a27;
  margin-right: 20px;
  font-size: 20px;
  vertical-align: middle;
}

.list_status-pr {
  font-weight: 500 ;
  color: #666666 ;
  font-size: 16px;
  vertical-align: middle;
  margin-left: auto;
  margin-right: 0;
  text-align: right;
}
html[dir="rtl"] .list_status-pr {
  font-weight: 500 ;
  color: #666666 ;
  font-size: 16px;
  vertical-align: middle;
  margin-left: 0;
  margin-right: auto;
}
.cdk-overlay-container .cdk-overlay-pane .app-menu-panel.mat-menu-panel {
  min-width: 260px;
}
.app.red .mat-form-field-appearance-legacy .mat-form-field-label .ng-star-inserted {
  font-size: 14px;
}
.search-list-prise {
  font-weight: 500;
  color: red !important;
  font-size: 13px;
  float: right;
}
.search-list-prtype {
  font-weight: 500 ;
  color: #000;
  font-size: 13px;
  float: right;
}
.search-list-address{
  color: black;
  font-size: 13px;
  font-weight: 500;
}
.search-list-date{
  font-weight: 500;
  color: #919090;
  font-size: 13px;
}
.search-header-text{
  font-size: 14px !important;
}

.app.red .mat-optgroup-label {
  background: #eee;
  line-height: 40px;
  height: 40px;
}
// #cdk-overlay-1{
//   width: 650px !important;
//   padding-top: 20px;
// }

.cdk-overlay-pane .mat-autocomplete-panel{
  max-height: 400px;
}
.gm-style .gm-style-iw-c {
  padding: 0px !important;
}
.gm-style .gm-style-iw-c {
  padding: 10px 0px 0px 10px !important;
}

@media (max-width: 767px){
  .app.red .mat-button.mat-warn .mat-button-focus-overlay, .app.red .mat-icon-button.mat-warn .mat-button-focus-overlay, .app.red .mat-stroked-button.mat-warn .mat-button-focus-overlay {
    background: transparent !important;
  }

  .mat-card-header{
    padding-top: 20px !important;
  }
  .sidenav .divider {
    border: none !important;
  }
  
  .sidenav .close:focus{
      outline: none !important;
  }
  .header-toolbar{
    width: 100%;
    text-align: center;
  }
  .header-toolbar-logo{
      width: 100%;
  }
  .header-toolbar-menu{
    position: absolute;
    left: 0px;
  }
  .header-toolbar-search{
    display: none !important;
  }
}

.mat-bottom-sheet-container-large {
  min-width: 560px !important;
}

.mat-bottom-sheet-container {
  max-height: 60vh !important;
  padding: 0px !important;
}

@media (max-width:767px){
  .search-wrapper button.search-btn .mat-button-wrapper{
      place-content: center;
  }
}
.cdk-overlay-pane{
  margin-bottom: 40px !important;
}
.carousel-slide {
  padding-bottom: 63% !important;
}
.warning{
  color: #606266 !important;
  background-color: white !important;
  border-radius: 3px !important;
  border-color: gray !important;
}
.app.red .mat-radio-button.mat-accent .mat-radio-inner-circle, .app.red .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple), .app.red .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple, .app.red .mat-radio-button.mat-accent:active .mat-radio-persistent-ripple{
  background-color: #e01a27;
}
.app.red .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: #e01a27;
}
.mat-icon-button .mat-icon.mat-icon-sm, .mat-icon.mat-icon-sm, .mat-nav-list .mat-list-item .mat-list-icon.mat-icon-sm{
  font-size: 22px;
}
.main-section {
  min-height: calc(100vh - 163px);
}
.mat-progress-spinner circle, .mat-spinner circle {
  stroke: gray;
  color: gray;
}

.avatar {
    //background-image: url('~assets/images/school.png');
    animation: none;
    background-size: 100px;
    width: 100px;
    height: 100px
}
.app.red .mat-progress-spinner.mat-accent circle, .app.red .mat-spinner.mat-accent circle{
  stroke: #e01a27;
}

  