<a mat-button [matMenuTriggerFor]="userMenu" #userMenuTrigger="matMenuTrigger">
    <mat-icon class="mat-icon-sm">person</mat-icon>
    <span fxShow="false" fxShow.gt-sm class="mx-1 uppercase">{{ 'app.account' | translate }}</span> 
    <mat-icon class="mat-icon-sm caret">arrow_drop_down</mat-icon>
</a>
<mat-menu #userMenu="matMenu" [overlapTrigger]="false" xPosition="before" class="app-menu-panel user-menu">
    <span *ngIf="user" (mouseleave)="userMenuTrigger.closeMenu()">
        <div fxLayout="row" fxLayoutAlign="start center" class="user-info" style="padding-top: 20px;">                   
            <img src='{{ pImage }}' alt="user-image" width="50">
            <p class="m-0" *ngIf="user.userVM">{{user.userVM.firstname}} {{user.userVM.lastname}}<br> <small><i>{{user.userVM.email}}</i></small></p>
        </div>
        <div class="divider"></div>
        <a mat-menu-item routerLink="/account/favorites" *ngIf="user.userVM && user.userVM.role == 'USER'"> 
            <mat-icon class="mat-icon-sm">favorite_border</mat-icon>
            <span [matBadge]="appService.Data.favorites.length" 
                  [matBadgeHidden]="appService.Data.favorites.length == 0"
                  matBadgeSize="small" 
                  matBadgeColor="warn" 
                  matBadgeOverlap="false">{{ 'app.menu.favorites' | translate }}</span> 
        </a>
        <a mat-menu-item routerLink="/account/user-list"  *ngIf="user.userVM && user.userVM.role == 'ADMIN'">
            <mat-icon class="mat-icon-sm">person</mat-icon>
            <span>{{ 'app.menu.userList' | translate }}</span> 
        </a>
        <a mat-menu-item routerLink="/account/schduled-visits"  *ngIf="user.userVM && user.userVM.role == 'ADMIN'">
            <mat-icon class="mat-icon-sm">view_list</mat-icon>
            <span>{{ 'app.menu.scheduleVisits' | translate }}</span> 
        </a>
        <a mat-menu-item routerLink="/account/profile"  *ngIf="user.userVM && user.userVM.role == 'USER'">
            <mat-icon class="mat-icon-sm">edit</mat-icon>
            <span>{{ 'app.menu.editprofile' | translate }}</span> 
        </a>
        <a mat-menu-item routerLink="/account/blog-update"  *ngIf="user.userVM && user.userVM.role == 'ADMIN'">
            <mat-icon class="mat-icon-sm">view_list</mat-icon>
            <span>{{ 'app.label.blogManagement' | translate }}</span> 
        </a>
        <a mat-menu-item routerLink="/account/mortgage-settings"  *ngIf="user.userVM && user.userVM.role == 'ADMIN'">
            <mat-icon class="mat-icon-sm">edit</mat-icon>
            <span>{{ 'app.menu.mortgageSetting' | translate }}</span> 
        </a>
        <!-- <a mat-menu-item routerLink="/lock-screen"> 
            <mat-icon class="mat-icon-sm">lock</mat-icon>
            <span>Lock screen</span> 
        </a> -->
        <a mat-menu-item routerLink="/faq"  *ngIf="user.userVM && user.userVM.role == 'USER'"> 
            <mat-icon class="mat-icon-sm">help</mat-icon>
            <span>{{ 'app.button.help' | translate }}</span> 
        </a>

        <div class="divider"></div>
        <a mat-menu-item (click)="onclickSignout()"> 
            <mat-icon class="mat-icon-sm">power_settings_new</mat-icon>
            <span>{{ 'app.button.signout' | translate }}</span> 
        </a>
    </span>
    <span *ngIf="!user" (mouseleave)="userMenuTrigger.closeMenu()">
        <div class="divider"></div>
        <a mat-menu-item routerLink="/login"> 
            <mat-icon class="mat-icon-sm">power_settings_new</mat-icon>
            <span>{{ 'app.button.signin' | translate }}</span> 
        </a>
    </span>
</mat-menu>  