<div class="p-3">
    <div class="theme-container">
        <mat-sidenav-container class="account">
            <mat-sidenav #sidenav [opened]="sidenavOpen" [mode]="sidenavOpen ? 'side' : 'over'" class="account-sidenav">
                <mat-card [perfectScrollbar]="psConfig" *ngIf="userRole === 'ADMIN'"> 
                    <button fxHide="false" fxHide.gt-sm mat-mini-fab color="warn" class="close" (click)="sidenav.toggle()">
                        <mat-icon>close</mat-icon>
                    </button>
                    <mat-card-header fxLayoutAlign="start center">                       
                        <img mat-card-avatar src='{{profileImage}}' alt="">
                        <mat-card-title class="text-muted mb-0 account-title">{{this.user.userVM.email}}</mat-card-title> 
                    </mat-card-header>
                    <div class="divider my-3"></div>
                    <div *ngFor="let link of linksAdmin">
                        <a matLine [routerLink]="link.href" routerLinkActive="horizontal-active-link" [routerLinkActiveOptions]="{exact:true}" fxLayout="row" fxLayoutAlign="start center" class="p-3">
                            <mat-icon class="text-muted">{{link.icon}}</mat-icon>
                            <span class="mx-2" *ngIf="link.name === 'Scheduled Visits'">{{ 'app.menu.scheduleVisits' | translate }}</span>
                            <span class="mx-2" *ngIf="link.name === 'User management'">{{ 'app.menu.userList' | translate }}</span>
                            <span class="mx-2" *ngIf="link.name === 'Blog Update'">{{ 'app.label.blogManagement' | translate }}</span>
                            <span class="mx-2" *ngIf="link.name === 'Mortgage Settings'">{{ 'app.menu.mortgageSetting' | translate }}</span>
                        </a>
                    </div>                  
                  </mat-card>
                  
                  
                  <mat-card [perfectScrollbar]="psConfig" *ngIf="userRole === 'USER'"> 
                    <button fxHide="false" fxHide.gt-sm mat-mini-fab color="warn" class="close" (click)="sidenav.toggle()">
                        <mat-icon>close</mat-icon>
                    </button>
                    <mat-card-header fxLayoutAlign="start center">                
                        <img mat-card-avatar src='{{profileImage}}' alt="">
                        <mat-card-title class="text-muted mb-0 account-title">{{this.user.userVM.email}}</mat-card-title> 
                    </mat-card-header>
                    <div class="divider my-3"></div>
                    <div *ngFor="let link of linksUser">
                        <a matLine [routerLink]="link.href" routerLinkActive="horizontal-active-link" [routerLinkActiveOptions]="{exact:true}" fxLayout="row" fxLayoutAlign="start center" class="p-3">
                            <mat-icon class="text-muted">{{link.icon}}</mat-icon>
                            <span class="mx-2" *ngIf="link.name === 'Profile'">{{ 'app.profile' | translate }}</span>
                            <span class="mx-2" *ngIf="link.name === 'Favorites'">{{ 'app.menu.favorites' | translate }}</span>
                            <span class="mx-2" *ngIf="link.name === 'Subscribe'">Subscribe</span>
                        </a>
                    </div>                      
                  </mat-card> 
            </mat-sidenav>
            <mat-sidenav-content ngClass.gt-sm="distance" class="account-rtl">
              <mat-card *ngIf="!sidenavOpen" fxLayout="row" fxLayoutAlign="space-between center" class="text-muted mb-3">
                  <button mat-icon-button (click)="sidenav.toggle()">
                      <mat-icon>more_vert</mat-icon>
                  </button>
                  <h3> {{ 'app.myAccount' | translate }}</h3>
              </mat-card>              
              <mat-card class="account-wrapper">
                  <router-outlet></router-outlet>
              </mat-card>  
            </mat-sidenav-content>
        </mat-sidenav-container>
    </div>
</div>