// .account-sidenav{
//     width: 280px;
//     padding: 2px;
//     .mat-nav-list{
//         box-sizing: border-box;
//         .mat-list-item{
//             height: 36px;
//             font-size: 14px;
//         }
//     }
// }
// .account-content{
//     min-height: 400px;
//     padding: 2px;
//     overflow: hidden;
//     &.p-left{
//         padding-left: 16px;
//     }
//     .header-row{
//         background: #fff;
//         padding: 0 16px;
//         height: 56px;
//     }
//     .account-wrapper{
//         margin-top: 16px;
//         padding: 16px;
//         background: #fff;
//     }
// }

// .account-sidenav{
//     width: 280px; 
//     float: left;
//     position: relative;
//     margin-bottom: 16px;  
//     border: 0 !important; 
//     box-shadow: none !important;
//     background-color: transparent !important;
//     .mat-drawer-inner-container{
//         padding: 2px;
//         height: 100%;
//         box-sizing: border-box;
//         .mat-card{
//             height: 100%;
//             box-sizing: border-box;
//             .mat-nav-list{
//                 box-sizing: border-box;
//                 .mat-list-item{
//                     height: 36px;
//                     font-size: 14px;
//                 }
//             }               
//         }
//     } 
// }
.account-title{
    font-size: 14px;
    padding: 10px;
}