<app-header-image [backgroundImage]="'assets/images/others/about.jpg'" 
                  [bgImageAnimate]="false" 
                  [contentOffsetToTop]="true"                
                  [title]="'Blog'"
                  [desc]="'We help you for live your POSHLIFE'">
</app-header-image>

<div class="theme-container">
    <mat-card class="main-content-header" *ngIf="blog">        
        <div class="section pt-2">
            <div class="px-3">
                <div class="theme-container">
                    <h1 class="section-title">{{ blog.title }}</h1>
                    <div slot="width: 30%; margin: auto;">
                        <img mat-card-image src="{{blog.blogImagePath}}">
                    </div>
                    <mat-card-content>
                        <!-- <div class="quote open text-left primary-color">“</div>
                            <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab libero quo minima labore accusantium ut sapiente iure est perferendis at? Ratione quod at inventore provident, corporis iste temporibus esse tenetur.</p>
                        <div class="quote close text-right primary-color">”</div> -->
                        <p>{{ blog.content }}</p>
                    </mat-card-content>
                </div>
            </div>
        </div>
    </mat-card>
</div>