<div style="margin: 10px 0px;">
    <agm-map [zoom]="5" [latitude]="lat" [longitude]="lng" (mapReady)="onMapReady($event)"></agm-map>
    <br />
    <div *ngIf="pointList.length>0" class="display-flex">
      <button mat-stroked-button color="warn" (click)="deleteSelectedShape()">Clear</button>
    </div>
</div>
<form [formGroup]="contactForm" (ngSubmit)="onContactFormSubmit(contactForm.value)">
  <!-- <p>Subscribe to get daily new properties.</p> -->
  <div [fxLayout]="'row wrap'" class="subscribe-form">
    <div class="p-2" fxFlex="100" fxFlex.gt-sm="20" fxFlex.sm="50">
        <div class="el-button-group">
            <button [ngClass]="isForSale ? 'el-button--primary' : 'el-button--default'" (click)="changePrType('sale')" type="button" class="el-button el-button--small" >
                <span>{{'property.forSale' | translate}}</span>
            </button> 
            <button [ngClass]="isForSale ? 'el-button--default' : 'el-button--primary'" (click)="changePrType('rent')"  type="button" class="el-button el-button--small">
                <span>{{'property.forLease' | translate}}</span>
            </button>
        </div>
    </div>
    <div class="p-2" fxFlex="100" fxFlex.gt-sm="30" fxFlex.sm="50">                         
        <div class="el-button-group">
            <mat-radio-group aria-label="Select an option" formControlName="propertyType" [(ngModel)]="prTypeStatus">
                <mat-radio-button value="residential" [checked]="prTypeStatus === 'residential'">{{'property.residential' | translate}}</mat-radio-button>
                <mat-radio-button value="commercial" [checked]="prTypeStatus === 'commercial'">{{'property.commercial' | translate}}</mat-radio-button>
              </mat-radio-group>
        </div>
    </div>

    <div *ngIf="prTypeStatus === 'residential'" fxFlex="100" fxFlex.gt-sm="40" fxFlex.sm="50">
        <mat-form-field appearance="outline" class="w-100">
            <mat-label>{{'property.propertyTypes' | translate}}</mat-label> 
            <mat-select  placeholder="Select Property Options" formControlName="propertyOption">
                <mat-option *ngFor="let propertyOption of propertyOptionsRes" [value]="propertyOption.name">
                    {{propertyOption.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div *ngIf="prTypeStatus === 'commercial'" fxFlex="100" fxFlex.gt-sm="30" fxFlex.sm="50">
        <mat-form-field appearance="outline" class="w-100">
            <mat-label>{{'property.propertyTypes' | translate}}</mat-label> 
            <mat-select  placeholder="Select Property Options" formControlName="propertyOption">
                <mat-option *ngFor="let propertyOption of propertyOptionsComm" [value]="propertyOption.name">
                    {{propertyOption.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="p-2" formGroupName="bedrooms" *ngIf="prTypeStatus === 'residential'" fxFlex="100" fxFlex.gt-sm="40" fxFlex.sm="50">
        <div fxLayout="row wrap" fxLayoutAlign="space-between center">
            <mat-label class="label-sc">{{'property.bedrooms' | translate}}</mat-label>
            <div fxFlex="100" class="buttons-groups">
                <div class="el-button-group">
                    <button [ngClass]="bedrooms.size == 0 ? 'el-button--primary' : 'el-button--default'" (click)="addBedrooms('All')" type="button" class="el-button el-button--mult" >
                        <span>{{'property.any' | translate}}</span>
                    </button> 
                    <button [ngClass]="bedrooms.has('1') ? 'el-button--primary' : 'el-button--default'" (click)="addBedrooms('1')" type="button" class="el-button el-button--mult" >
                        <span>1</span>
                    </button> 
                    <button [ngClass]="bedrooms.has('2') ? 'el-button--primary' : 'el-button--default'" (click)="addBedrooms('2')" type="button" class="el-button el-button--mult" >
                        <span>2</span>
                    </button> 
                    <button [ngClass]="bedrooms.has('3') ? 'el-button--primary' : 'el-button--default'" (click)="addBedrooms('3')" type="button" class="el-button el-button--mult" >
                        <span>3</span>
                    </button> 
                    <button [ngClass]="bedrooms.has('4') ? 'el-button--primary' : 'el-button--default'" (click)="addBedrooms('4')" type="button" class="el-button el-button--mult" >
                        <span>4</span>
                    </button>
                    <button [ngClass]="bedrooms.has('5+') ? 'el-button--primary' : 'el-button--default'" (click)="addBedrooms('5+')" type="button" class="el-button el-button--mult" >
                        <span>5+</span>
                    </button> 
                </div>
            </div>
        </div> 
    </div>

    <div class="p-2" formGroupName="washrooms" *ngIf="prTypeStatus === 'residential'" fxFlex="100" fxFlex.gt-sm="40" fxFlex.sm="50">
        <div fxLayout="row wrap" fxLayoutAlign="space-between center">
            <mat-label class="label-sc">{{'property.bathroom' | translate}}</mat-label>
            <div fxFlex="100" class="buttons-groups">
                <div class="el-button-group">
                    <button [ngClass]="bathrooms.length == 0 ? 'el-button--primary' : 'el-button--default'" (click)="addBathrooms('All')" type="button" class="el-button el-button--mult" >
                        <span>{{'property.any' | translate}}</span>
                    </button> 
                    <button [ngClass]="bathrooms.indexOf('1') !== -1 ? 'el-button--primary' : 'el-button--default'" (click)="addBathrooms('1')" type="button" class="el-button el-button--mult" >
                        <span>1+</span>
                    </button> 
                    <button [ngClass]="bathrooms.indexOf('2') !== -1 ? 'el-button--primary' : 'el-button--default'" (click)="addBathrooms('2')" type="button" class="el-button el-button--mult" >
                        <span>2+</span>
                    </button> 
                    <button [ngClass]="bathrooms.indexOf('3') !== -1 ? 'el-button--primary' : 'el-button--default'" (click)="addBathrooms('3')" type="button" class="el-button el-button--mult" >
                        <span>3+</span>
                    </button> 
                    <button [ngClass]="bathrooms.indexOf('4') !== -1 ? 'el-button--primary' : 'el-button--default'" (click)="addBathrooms('4')" type="button" class="el-button el-button--mult" >
                        <span>4+</span>
                    </button>
                    <button [ngClass]="bathrooms.indexOf('5') !== -1 ? 'el-button--primary' : 'el-button--default'" (click)="addBathrooms('5')" type="button" class="el-button el-button--mult" >
                        <span>5+</span>
                    </button> 
                </div>
            </div>
        </div> 
    </div> 

    <div class="p-2" formGroupName="parkingSpaces" *ngIf="prTypeStatus === 'residential'" fxFlex="100" fxFlex.gt-sm="40" fxFlex.sm="50">
        <div fxLayout="row wrap" fxLayoutAlign="space-between center">
            <mat-label class="label-sc">{{'property.garage/parking' | translate}}</mat-label>
            <div fxFlex="100" class="buttons-groups">
                <div class="el-button-group">
                    <button [ngClass]="parkings.indexOf('0') !== -1 ? 'el-button--primary' : 'el-button--default'" (click)="addParkings('0')" type="button" class="el-button el-button--mult" >
                        <span>{{'property.any' | translate}}</span>
                    </button> 
                    <button [ngClass]="parkings.indexOf('1') !== -1 ? 'el-button--primary' : 'el-button--default'" (click)="addParkings('1')" type="button" class="el-button el-button--mult" >
                        <span>1+</span>
                    </button> 
                    <button [ngClass]="parkings.indexOf('2') !== -1 ? 'el-button--primary' : 'el-button--default'" (click)="addParkings('2')" type="button" class="el-button el-button--mult" >
                        <span>2+</span>
                    </button> 
                    <button [ngClass]="parkings.indexOf('3') !== -1 ? 'el-button--primary' : 'el-button--default'" (click)="addParkings('3')" type="button" class="el-button el-button--mult" >
                        <span>3+</span>
                    </button> 
                    <button [ngClass]="parkings.indexOf('4') !== -1 ? 'el-button--primary' : 'el-button--default'" (click)="addParkings('4')" type="button" class="el-button el-button--mult" >
                        <span>4+</span>
                    </button>
                    <button [ngClass]="parkings.indexOf('5') !== -1 ? 'el-button--primary' : 'el-button--default'" (click)="addParkings('5')" type="button" class="el-button el-button--mult" >
                        <span>5+</span>
                    </button> 
                </div>
            </div>
        </div> 
    </div> 
    
    <div formGroupName="sliderControlGroup"  class="p-2" fxFlex="100" fxFlex.gt-sm="40" fxFlex.sm="50">                         
        <mat-label class="label-sc">{{'property.squareFootage' | translate}}</mat-label>
        <ng5-slider formControlName="sliderControl" [options]="options"></ng5-slider>
    </div>

    <div formGroupName="sliderControlGroupNew"  class="p-2" fxFlex="100" fxFlex.gt-sm="40" fxFlex.sm="50">                         
        <mat-label class="label-sc">{{'property.priceRange' | translate}}</mat-label>
        <ng5-slider formControlName="sliderControlNew" [options]="optionsNew"></ng5-slider>
    </div>

    <div *ngIf="prTypeStatus === 'residential'" class="p-2" fxFlex="100" fxFlex.gt-sm="40" fxFlex.sm="50">                         
        <mat-form-field appearance="outline" class="w-100">
            <mat-label>{{ 'property.details.basement' | translate }}</mat-label>
            <mat-select placeholder="Select Basement Type" formControlName="basementStyle" >
                <mat-option *ngFor="let basementStyle of basementStyles" [value]="basementStyle.name">
                    {{ basementStyle.name }}
                </mat-option>
            </mat-select> 
        </mat-form-field>
    </div>

    <mat-form-field appearance="outline" class="w-100">
        <mat-label>{{'property.details.message' | translate}}</mat-label> 
        <textarea matInput placeholder="Your Message" formControlName="message" rows="6"></textarea> 
        <mat-error *ngIf="contactForm.controls.message.errors?.required">{{'property.details.messageRequired' | translate}}</mat-error>
    </mat-form-field>
  </div>
  <div class="text-center">
      <button mat-raised-button color="accent" type="submit">{{'app.button.submit' | translate}}</button>
  </div>
</form>

<div *ngIf="showLoader" class="loading-indicator">
    <mat-progress-spinner mode="indeterminate" color="accent"></mat-progress-spinner>
</div>