.el-boder{
    border-style: none !important;
}
.el-button-group{
    display: inline-block;
    vertical-align: middle;
}
.el-button--primary {
    border-style: none !important;
    color: #fff;
    background-color: #e01a27;
    border-color: #e01a27;
}
.el-button, .el-input {
    font-size: 14px;
}
.el-button--small, .el-button--small.is-round {
    padding: 9px 5px;
    min-width: 80px;
}
.el-button-group .el-button--primary:first-child{
    border-right-color: hsla(0,0%,100%,.5);
}
.multiple_button {
    padding: 0;
    height: 36px;
}
.el-input__suffix {
    color: inherit;
    height: auto;
    margin-top: -3px;
}
.el-input__suffix-inner {
    pointer-events: all;
}
.el-select__caret {
    color: inherit;
}
.el-input__icon {
    height: 100%;
    width: 25px;
    text-align: center;
    transition: all .3s;
    line-height: 40px;
}
.el-select__caret {
    color: #c0c4cc;
    font-size: 14px;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s,-webkit-transform .3s;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    cursor: pointer;
}
.el-button--mult {
    padding: 9px 5px;
    width: 50px  !important;
    min-width: 50px  !important;
}
.label-sc {
    color: gray !important;
    font-size: 11px !important;
    margin-bottom: 8px;
}
agm-map{
    height: 500px;
}