@media (max-width:767px){
    .properties-wrapper .item {
        flex: 1 1 50% !important;
        max-width: 50% !important;
    }
}

@media (max-width:480px){
    .properties-wrapper .item {
        flex: 1 1 100% !important;
        max-width: 100% !important;
    }
}