<div class="table-wrapper"> 
    <p *ngIf="propertiesnew.length === 0" class="py-5 mb-0 text-center">{{ 'watched.noWatchedProperties' | translate }}</p> 
    <div class="theme-container"> 
      <div fxLayout="row wrap" class="properties-wrapper">
        <div *ngFor="let property of propertiesnew" [fxFlex]="(viewType=='grid') ? viewCol : 100" class="item">                         
          <app-property-item [property]="property" [viewType]="viewType" [viewColChanged]="viewCol" (onDeleteClick)="refreshList()"></app-property-item>
        </div>
      </div>
    </div>
</div>
