<div fxLayout="row wrap">
    <div fxFlex="100" fxFlex.gt-sm="50" class="p-3">
        <h2 class="text-muted text-center fw-600 mb-3">{{'app.account.details' | translate}}</h2>
        <form [formGroup]="infoForm" (ngSubmit)="onInfoFormSubmit(infoForm.value)"> 
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>{{'profile.firstName' | translate}}</mat-label>
                <input matInput placeholder="First Name" formControlName="firstname" required autocomplete="off">
                <mat-error *ngIf="infoForm.controls.firstname.errors?.required">{{'profile.nameRequired' | translate}}</mat-error>
                <mat-error *ngIf="infoForm.controls.firstname.hasError('minlength')">{{'profile.nameError' | translate}}</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>{{'profile.lastName' | translate}}</mat-label>
                <input matInput placeholder="Last Name" formControlName="lastname" required autocomplete="off">
                <mat-error *ngIf="infoForm.controls.lastname.errors?.required">{{'profile.nameRequired' | translate}}</mat-error>
                <mat-error *ngIf="infoForm.controls.lastname.hasError('minlength')">{{'profile.nameError' | translate}}</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>{{'profile.email' | translate}}</mat-label>
                <input matInput placeholder="Email" formControlName="email" required autocomplete="off">
                <mat-error *ngIf="infoForm.controls.email.errors?.required">{{'profile.email.emailRequired' | translate}}</mat-error>
                <mat-error *ngIf="infoForm.controls.email.hasError('invalidEmail')">{{'profile.email.emailError' | translate}}</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>{{'profile.phone' | translate}}</mat-label>
                <input matInput placeholder="phoneNumber" formControlName="phoneNumber" required onlyNumber autocomplete="off">
                <mat-error *ngIf="infoForm.controls.phoneNumber.errors?.required">{{'profile.phone.phonerequired' | translate}}</mat-error>
            </mat-form-field>
            <div class="mb-3">
                <input-file placeholder="{{'profile.uploadImage' | translate}}" formControlName="imageName" fileLimit="1" fileAccept="image/*" [linkEnabled]="false"></input-file>  
            </div>
            <div class="text-center mt-2">
                <button mat-raised-button color="primary" type="submit" class="uppercase">{{'profile.updateProfile' | translate}}</button>
            </div> 
        </form>
    </div>
    
    <div fxFlex="100" fxFlex.gt-sm="50" class="p-3" ngClass.sm="mt-2" ngClass.xs="mt-2">
        <h2 class="text-muted text-center fw-600 mb-3">{{'app.label.passwordchange' | translate}}</h2>
        <form [formGroup]="passwordForm" (ngSubmit)="onPasswordFormSubmit(passwordForm.value)">            
            <!-- <mat-form-field appearance="outline" class="w-100">
                <mat-label>{{'app.label.currentPassword' | translate}}</mat-label>
                <input matInput placeholder="Current Password" formControlName="currentPassword" type="password" minlength="6" required autocomplete="off">
                <mat-error *ngIf="passwordForm.controls.currentPassword.errors?.required">{{'app.label.currentPasswordRequired' | translate}}</mat-error>
                <mat-error *ngIf="passwordForm.controls.currentPassword.hasError('minlength')">{{'app.label.currentPasswordError' | translate}}</mat-error>
            </mat-form-field> -->
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>{{'app.label.newPassword' | translate}}</mat-label>
                <input matInput placeholder="New Password" formControlName="newPassword" type="password" minlength="6" required autocomplete="off">
                <mat-error *ngIf="passwordForm.controls.newPassword.errors?.required">{{'app.label.newPasswordRequired' | translate}}</mat-error>
                <mat-error *ngIf="passwordForm.controls.newPassword.hasError('minlength')">{{'app.label.newPasswordError' | translate}}</mat-error>
            </mat-form-field> 
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>{{'app.label.confirmNewpassword' | translate}}</mat-label>
              <input matInput placeholder="Confirm New Password" formControlName="confirmNewPassword" type="password" required autocomplete="off">
              <mat-error *ngIf="passwordForm.controls.confirmNewPassword.errors?.required">{{'app.label.confirmNewpasswordRequired' | translate}}</mat-error>
              <mat-error *ngIf="passwordForm.controls.confirmNewPassword.hasError('mismatchedPasswords')">{{'app.label.passwordMisMatch' | translate}}</mat-error>
            </mat-form-field>
            <div class="text-center mt-2">
                <button mat-raised-button color="primary" type="submit" class="uppercase">{{'app.label.changePassword' | translate}}</button>
            </div>
        </form>
    </div>
</div> 
