.visit-details { 
    .sebm-google-map-container {
        height: 400px;
    } 
    .step-section {
        padding: 20px 10px 0;
        border-radius: 4px;
        margin: 8px 8px 16px;
    }
}
.section_sub_title {
    font-weight: 400;
    color: #666;
    padding-bottom: 0px;
    font-size: 16px;
}
.title_area {
    padding: 10px 0 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.section_title {
    font-size: 25px;
    font-weight: 400;
    padding: 60px 0 10px;
    color: #2e3b61;
}
.userSub-key{
    color: #000;
    font-weight: 500 !important;
}
.userSub-value{
    font-family: Montserrat;
    color: #666;
    font-weight: 400 !important;
}
.userSub .item span:first-child {
    margin-right: 8px;
    font-weight: 500;
    min-width: 114px;
    display: inline-block;
}
.two_column_data {
    line-height: 38px;
    text-align: left;
}
.global-link{
    margin-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
}
.ViewInMap__link {
    color: #e01a27;
}