

<div class="title_area">
  <h2 class="section_title" style="padding: 0px;">{{ 'app.label.visitDetails' | translate }}</h2>
</div>
<mat-card class="mt-3 userSub" style="margin-bottom: 10px;" *ngIf="userSub">
  <div fxLayout="row wrap" class="details two_column_data el-row">
    <div fxFlex="100" fxFlex.gt-xs="50" fxLayout="row" class="item">
      <span class="userSub-key">{{ 'property' | translate }}:</span>
      <span class="userSub-value">{{userSub.propertyId}}</span>
    </div>
    <div fxFlex="100" fxFlex.gt-xs="50" fxLayout="row" class="item">
      <span class="userSub-key">{{ 'app.label.status' | translate }}:</span>
      <span class="userSub-value">{{userSub.status}}</span>
    </div> 
    <div fxFlex="100" fxFlex.gt-xs="50" fxLayout="row" class="item">
        <span class="userSub-key">{{ 'app.label.name' | translate }}:</span>
        <span class="userSub-value">{{userSub.name}}</span>
    </div> 
    <div fxFlex="100" fxFlex.gt-xs="50" fxLayout="row" class="item">
        <span class="userSub-key">{{ 'property.contactNumber' | translate }}:</span>
        <span class="userSub-value">{{userSub.contactNumber}}</span>
    </div> 
    <div fxFlex="100" fxFlex.gt-xs="50" fxLayout="row" class="item">
      <span class="userSub-key">{{ 'app.label.email' | translate }}:</span>
      <span class="userSub-value">{{userSub.email}}</span>
    </div> 
    <div fxFlex="100" fxFlex.gt-xs="50" fxLayout="row" class="item">
      <span class="userSub-key">{{ 'app.label.scheduledDate' | translate }}:</span>
      <span class="userSub-value">{{userSub.scheduleDate | date:"dd MMMM, yyyy"}}</span>
    </div>  
  </div> 
</mat-card>
<div class="title_area">
  <h2 class="section_title" style="padding: 0px;">{{ 'app.label.folloupHistory' | translate }}</h2> 
  <a class="global-link ViewInMap__link" (click)="openDialog()">{{ 'app.label.addNewEntry' | translate }}</a>
</div>
<div class="table-wrapper" *ngIf="userSub"> 
  <table mat-table [dataSource]="dataSource" matSort class="w-100">

    <!-- Views Column -->
    <ng-container matColumnDef="Followup_date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'app.label.folloupdate' | translate }}</th>
      <td mat-cell *matCellDef="let user"> 
        <span *ngIf="user.scheduleDate">{{user.scheduleDate | date:"dd MMMM, yyyy"}}</span>
        <span *ngIf="!user.scheduleDate">-</span>
      </td>
    </ng-container> 

    <!-- ID Column -->
    <ng-container matColumnDef="user_comment">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'app.label.userComment' | translate }} </th>
      <td mat-cell *matCellDef="let user"> {{user.message}} </td>
    </ng-container>  

    <!-- Image Column -->
    <ng-container matColumnDef="broker_comment">
      <th mat-header-cell *matHeaderCellDef> {{ 'app.label.brokerComment' | translate }} </th>
      <td mat-cell *matCellDef="let user">{{user.comment}}</td>
    </ng-container> 

    <!-- Title Column -->
    <ng-container matColumnDef="Status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'app.label.status' | translate }} </th>
      <td mat-cell *matCellDef="let user">
        <span *ngIf="user.status">{{user.status}}</span>
        <span *ngIf="!user.status">-</span>
      </td>
    </ng-container> 

    <!-- Published Column -->
    <ng-container matColumnDef="Comments">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'app.label.comments' | translate }} </th>
      <td mat-cell *matCellDef="let user"> {{user.message}} </td>
    </ng-container> 

    <!-- <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let user">  
          <a (click)="openDialog()"mat-icon-button color="primary" matTooltip="Edit">
              <mat-icon>edit</mat-icon>
          </a>
      </td>
    </ng-container>  -->

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let property; columns: displayedColumns;">
    </tr>
  </table> 
  <p *ngIf="dataSource?.data.length === 0" class="py-5 mb-0 text-center">{{ 'app.label.noDataAvailable' | translate }}</p> 
</div>


