.header-info {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40px;
    border-bottom: 1px solid #d8d8d8;
    padding: 5px 40px;
    line-height: 18px;
    text-align: center;
    background-color: #f6f6f6;
    font-weight: 600;
    font-size: 18px;
    color: #e01a27
}

.close-icon {
    position: absolute;
    right: 10px;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 100%;
    font-size: 20px;
    cursor: pointer;
}

.list-parent{
    height: 300px; overflow: auto;
}

mat-card {
    padding: 3px 16px;
    cursor: pointer;
    border-bottom-style: dotted;
    border-width: 1px;
    border-radius: 0px;
    border-color: gray;
    box-shadow: none !important;
    cursor: pointer;
}

.popup-title-p {
    width: 100%;
    display: block;
    text-align: left;
}

.popup-title {
    font-weight: 500;
    font-size: 16px;
    color: #2e3b61;
}

.popup-subtitle {
    font-weight: 400;
    font-size: 12px;
    color: #616163;
}
.popup-items img{
    width: 25px;
}
.popup-items{
    font-weight: 500;
}
.popup-keys {
    font-weight: 500;
    color: #0d0d0e;
}

.popup-values {
    font-weight: 400;
    color: #fc0505;
}

.mapImage {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: stretch;
    align-items: stretch;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    background: #fff;
    border-image: none;
    border-image: initial;
    margin: 0px;
}

.mapImage span {
    width: 100%;
    padding-top: 100%;
    overflow: hidden;
    transition: transform 1s ease 0s;
}

.mapImage span .imageDiv {
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.mapImage span .imageDiv img {
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}