<div class="header-info">
	<span class="total-listing">{{properties.length}} listing(s) in total</span>
	<mat-icon class="close-icon" (click)="closePopup($event)">clear</mat-icon>
</div>
<div class="list-parent">

    <div *ngFor="let property of properties">
        <mat-card (click)="openLink($event, property.id)" class="mt-3">
            <div fxLayout="row wrap">
                <div class="column" fxFlex="100" fxFlex.gt-sm="50" fxFlex.sm="50">
                    <span class="popup-title-p">
                        <span class="popup-title">{{property.type}}</span>
                        <span class="popup-subtitle"> For {{property.saleLease}}</span>
                    </span>
                </div>
                <div class="column" fxFlex="100" fxFlex.gt-sm="50" fxFlex.sm="50" style="text-align: right;">
                    <span class="popup-subtitle">Listing Date : {{property.listingEntryDate | date:"dd-MM-yyyy"}}</span>
                </div>
            </div>
            <div fxLayout="row wrap">
                <div class='column popup-style-right'>
                    
                    <div class="mapImage">
                        <span>
                            <div class="imageDiv">
                                <img [src]="property.propertyImage1" alt="wishlistCircle">
                            </div>
                        </span>
                    </div>
                </div>
                <div class='column popup-style-left'>
                    <div [fxLayout]="row">
                        <div class="column" fxFlex="100" fxFlex.gt-sm="100" fxFlex.sm="50"><br>
                            <span><span class="popup-keys">Prize:</span> <span class="popup-values"> ${{property.listPrice}}</span> </span><br>
                            
                            <span class="popup-items"><img src="assets/images/bedImage.png">  &nbsp; {{property.bedrooms}} + {{property.bedroomsPlus}}</span>&nbsp;&nbsp;&nbsp;
                            <span class="popup-items"><img src="assets/images/bathImage.png">  &nbsp; {{property.washrooms}}</span>&nbsp;&nbsp;&nbsp;
                            <span class="popup-items"><img src="assets/images/houseImage.png"> &nbsp;  {{property.parkingSpaces}}</span><br>
                            <span>{{property.locationSearch}}</span><br>
                            <b><span style='color: #0078A8;'>Days on market :</span></b>
                            <span>&nbsp;{{property.daysOnMarket}} days</span>
                        </div>
                    </div>
                    
                    
                </div>
            </div>                            
        </mat-card>
    </div>
</div>
