<div class="px-3">
    <div class="theme-container">
        <mat-card class="properties-content-header">
            <app-properties-search 
            [variant]="settings.searchPanelVariant"
            [searchOnBtnClick]="settings.searchOnBtnClick"              
            [removedSearchField]="removedSearchField" 
            (onSearchChange)="searchChanged($event)"
            (onTypeChangeClick)="typeChanged($event)"
            (onSearchClick)="searchClicked()"
            (onResetClick)="resetClicked()"
            [isHorizontal1]="'true'">
            </app-properties-search>
        </mat-card>
    </div>
</div>

<div class="px-3">
  <div class="theme-container">
    <mat-sidenav-container class="all-properties mt-3"> 
        <app-properties-search 
            [variant]="settings.searchPanelVariant"
            [vertical]="true"
            [searchOnBtnClick]="settings.searchOnBtnClick"              
            [removedSearchField]="removedSearchField" 
            (onSearchChange)="searchChanged($event)"
            (onSearchClick)="searchClicked()"
            (onResetClick)="resetClicked()"
            [isHorizontal1]="'true'">
        </app-properties-search>

      <mat-sidenav-content ngClass.gt-sm="distance"> 
        <div fxLayout="row wrap" class="properties-wrapper mt-0">            
            <div *ngIf="viewType!='map'" fxFlex="100" fxLayoutAlign="start start" class="p-2"> 
                <mat-chip-list [ngClass]="(settings.rtl) ? 'ml-2' : 'mr-2'">
                    <mat-chip selected disableRipple="true" color="warn" class="uppercase ws-nowrap">
                        {{ pagination?.total }} found
                    </mat-chip> 
                </mat-chip-list>
                <app-properties-search-results-filters 
                    [searchFields]="searchFields" 
                    (onRemoveSearchField)="removeSearchField($event)">
                </app-properties-search-results-filters>                 
            </div>
        </div>
        <div *ngIf="viewType=='map' && propertiesnew" fxLayout="row wrap" class="properties-wrapper mt-0">
            <agm-map *ngIf="propertiesnew" 
                maxZoom="18" 
                (mapReady)="mapLoad($event)"
				[latitude]="currentLoc.lat"
                [longitude]="currentLoc.lng"
                [usePanning]="true"
                [zoom]="zoomLevel"
                [fullscreenControl]='true'
                [mapTypeControl]='true'
                (mapReady)="mapReady($event)"
				(centerChange)="centerChange($event)"
                (zoomChange)="zoomChange($event)">
                <agm-marker-cluster
                    (clusterClick)="clickOnCluster($event)" 
                    [minimumClusterSize]= "minClusterSize"
                    imagePath="https://raw.githubusercontent.com/googlemaps/v3-utility-library/master/markerclustererplus/images/m"
                    [styles]="clusterStyles"
                    [usePanning]="true">
                    <agm-marker *ngFor="let property of propertiesnew"
                        [latitude]="property.latitude"
                        title={{property.id}}
                        [longitude]="property.longitude"
                        (markerClick)="markerClicked($event)"
                        (dragEnd)="centerChange($event)">
                   </agm-marker>
                </agm-marker-cluster>
            </agm-map>
        </div>
        <div *ngIf="showLoader" class="loading-indicator">
            <mat-progress-spinner mode="indeterminate" color="accent"></mat-progress-spinner>
        </div>
        <div *ngIf="viewType!='map'" fxLayout="row wrap" class="properties-wrapper mt-0">  
            <div *ngFor="let property of propertiesnew" [fxFlex]="(viewType=='grid') ? viewCol : 100"  class="item">                         
                <app-property-item [property]="property" [viewType]="viewType" [viewColChanged]="viewCol" [fullWidthPage]="false"></app-property-item>
            </div>

            <div *ngIf="propertiesnew?.length == 0" fxFlex="100" fxLayoutAlign="center center" [style.min-height.px]="200">                
                <mat-spinner *ngIf="!message"></mat-spinner>
                <mat-chip-list *ngIf="message">
                    <mat-chip selected disableRipple="true" color="warn" class="uppercase ws-nowrap">
                        {{message}}
                    </mat-chip> 
                </mat-chip-list> 
            </div>            

            <div *ngIf="propertiesnew?.length > 0" fxFlex="100" fxLayoutAlign="center center" class="p-2">
                <mat-paginator [length]="pagination?.total"
                              [pageSize]="pagination?.perPage"
                              (page)="onPageChange($event)"
                              class="w-100 mat-elevation-z1">
                </mat-paginator>
            </div>
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
</div>
<app-clients></app-clients>
<app-get-in-touch></app-get-in-touch>