agm-map{
    // height: 700px;
    //width: 100%;
    height: 92vh;
    .gmnoprint {
        display: none !important;
    }
}
.cluster-img{
    border: 5px solid #cfd8dc !important;
    border-width: 5px !important;
    border-radius: 50% !important;
    background-color: orange !important;
  }
  #map {
    height: 600px;
    width: 100%;
  }

  .tabs-corner{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    margin: 0 2px !important;
    padding: 0 4px !important;
}
.corner-tab1{
    color: #606266 !important;
    background-color: white !important;
}
.corner-tab2{
    color: black  !important;
    background-color: white  !important;
}
.tab-buttons-slide{
  margin-bottom: 10px;
}
.properties-content-header{
  position: relative; 
  z-index: 2;
  padding: 10px 10px 0px 10px !important;
}
 .school_condition {
  position: absolute;
  top: 10px;
  left: 170px;
  padding: 0 10px;
  line-height: 30px;
  display: inline-block;
  background: #b1454b;
  color: #fff;
  border: 2px solid #c8c8c8;
  border-radius: 4px;
  z-index: 1001;
  cursor: pointer;
}

agm-map{
  // height: 700px;
  width: 100%;
  height: 75vh;
  .gmnoprint {
      display: none !important;
  }
  .gm-style .gm-style-iw-d{
      padding-right: 15px !important;
  }
  
}
.cluster-img{
  border: 5px solid #cfd8dc !important;
  border-width: 5px !important;
  border-radius: 50% !important;
  background-color: orange !important;
}
.mat-card {
  padding: 5px !important;
}
.mapImage {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: stretch;
  align-items: stretch;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  background: #fff;
  border-image: none;
  border-image: initial;
  margin: 0px;
}
.mapImage span {
  width: 100%;
  padding-top: 100%;
  overflow: hidden;
  transition: transform 1s ease 0s;
}
.mapImage span .imageDiv {
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.mapImage span .imageDiv img {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.popup-title-p{
  width: 100%;
  display: block;
  text-align: left;
}
.popup-title{
  font-weight: 500;
  font-size: 16px;
  color: #2e3b61;
}
.popup-subtitle{
  font-weight: 400;
  font-size: 12px;
  color: #616163;
}
.popup-keys{
  font-weight: 500;
  color: #0d0d0e;
}
.popup-values{
  font-weight: 400;
  color: #fc0505;
}