<mat-form-field appearance="outline" class="w-100">
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter properties" autocomplete="off">
</mat-form-field>
<div class="table-wrapper"> 
    <table mat-table [dataSource]="dataSource" matSort class="w-100">
  
      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let property"> {{property.id}} </td>
      </ng-container>  

      <!-- Image Column -->
      <ng-container matColumnDef="image">
        <th mat-header-cell *matHeaderCellDef> Image </th>
        <td mat-cell *matCellDef="let property"><img [src]="property.gallery[0].small" [style.width.px]="100" class="d-block"></td>
      </ng-container> 
  
      <!-- Title Column -->
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
        <td mat-cell *matCellDef="let property"><a [routerLink]="['/properties', property.id ]" class="property-name">{{property.title}}</a></td>
      </ng-container> 

      <!-- Published Column -->
      <ng-container matColumnDef="published">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Published </th>
        <td mat-cell *matCellDef="let property"> {{property.published | date:"dd MMMM, yyyy"}} </td>
      </ng-container> 

      <!-- Views Column -->
      <ng-container matColumnDef="views">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Views </th>
        <td mat-cell *matCellDef="let property"> {{property.views}} </td>
      </ng-container> 

      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let property">  
            <a [routerLink]="['/account/my-properties', property.id]" mat-icon-button color="primary" matTooltip="Edit property">
                <mat-icon>edit</mat-icon>
            </a>
            <button mat-icon-button color="warn" (click)="remove(property)" matTooltip="Remove" class="remove">
                <mat-icon>delete</mat-icon>
            </button> 
        </td>
      </ng-container> 
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let property; columns: displayedColumns;">
      </tr>
    </table> 
    <p *ngIf="dataSource?.data.length === 0" class="py-5 mb-0 text-center">{{ 'app.label.noDataAvailable' | translate }}</p> 
</div>
<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>