<mat-card class="property-item p-0" [ngClass]="[viewType + '-item', 'column-'+column]" [class.full-width-page]="fullWidthPage" fxLayout="row wrap" [routerLink]="['/properties', property.id]">  
  
    <div fxFlex="100" fxShrink="3" [fxFlex.gt-sm]="(viewType=='list') ? 40 : 100" [fxFlex.sm]="(viewType=='list') ? 50 : 100" class="thumbnail-section">

        <div fxLayout="row wrap" class="property-status">
            <span [style.background-color]="getStatusBgColor(property.saleLease)" *ngIf="property.saleLease && property.saleLease == 'Sale'">{{ 'property.sale' | translate }}</span>
            <span [style.background-color]="getStatusBgColor(property.saleLease)" *ngIf="property.saleLease && property.saleLease == 'Lease'">{{ 'property.lease' | translate }}</span>
            <span [style.background-color]="getStatusBgColor(property.saleLease)" *ngIf="property.saleLease && property.saleLease == 'Sold'">{{ 'property.sold' | translate }}</span>
            <span [style.background-color]="getStatusBgColor(property.saleLease)" *ngIf="!property.saleLease">{{property.sale_lease}}</span>
        </div>
    
        <div *ngIf="property.gallery.length > 0" class="mat-card-image w-100 m-0" [ngStyle]="{'-webkit-filter':(property.saleLease == 'Sale' || property.saleLease == 'Sold') && !user ? 'blur(3px)' : '' }">
            <div class="swiper-container" [swiper]="config">
                <div class="swiper-wrapper"> 
                    <div *ngFor="let image of property.gallery" class="swiper-slide">
                        <img [attr.data-src]="image.medium" class="swiper-lazy">
                        <div class="swiper-lazy-preloader"></div>
                    </div> 
                </div>  
                <div class="swiper-pagination white"></div>  
                <button mat-icon-button class="swiper-button-prev swipe-arrow"><mat-icon class="mat-icon-lg">keyboard_arrow_left</mat-icon></button>
                <button mat-icon-button class="swiper-button-next swipe-arrow"><mat-icon class="mat-icon-lg">keyboard_arrow_right</mat-icon></button>
            </div>
        </div>
        <div class="control-icons">
            
            <button mat-button (click)="deleteFavoritesfromProfile(property)" matTooltip="Add To Favorite" *ngIf="cState == 'profile'">
                <mat-icon class="mat-icon-sm">delete_border</mat-icon>
            </button>

            <button mat-button (click)="addToFavorites(property)" matTooltip="Add To Favorite" *ngIf="property.favorite == false && cState != 'profile'">
                <mat-icon class="mat-icon-sm">favorite_border</mat-icon>
            </button>
            <button mat-button (click)="deleteFavorites(property)" matTooltip="Add To Favorite" *ngIf="property.favorite == true && cState != 'profile'">
                <mat-icon class="mat-icon-sm">favorite</mat-icon>
            </button>
        </div> 
    </div>
    <div fxFlex="100" [fxFlex.gt-sm]="(viewType=='list') ? 60 : 100" [fxFlex.sm]="(viewType=='list') ? 50 : 100" class="p-3" [ngStyle]="{'-webkit-filter':(property.saleLease == 'Sale' || property.saleLease == 'Sold') && !user ? 'blur(6px)' : '' }">

        <div fxLayout="column" fxLayoutAlign="start stretch" class="h-100">
            <mat-card-content class="mb-0">
                <h1 class="title"><a [routerLink]="['/properties', property.id]">{{property.title}}</a></h1>

                <p fxLayout="row" class="address">
                    <mat-icon class="text-muted">location_on</mat-icon>
                    <span style="padding: 3px;">{{property.locationSearch}}</span>
                </p>
                
                <div fxLayout="row" fxLayoutAlign="space-between center">
                    <div>
                        <h3 *ngIf="settings.currency == 'USD'" class="primary-color price">
                            <!-- <span *ngIf="property.priceDollar.sale">{{property.priceDollar.sale | currency : 'USD' : 'symbol' : '1.0'}}</span>
                            <span *ngIf="property.priceDollar.rent">{{property.priceDollar.rent | currency : 'USD' : 'symbol' : '1.0'}} /month</span> -->
                        </h3>
                        <h4 class="primary-color price">
                            <span *ngIf="property.saleLease == ''">{{property.listPrice | currency : 'USD' : 'symbol' : '1.0'}}</span>
                            <span *ngIf="property.saleLease == 'Sale'">{{property.listPrice | currency : 'USD' : 'symbol' : '1.0'}}</span>
                            <span *ngIf="property.saleLease == 'Lease'">{{property.listPrice | currency : 'USD' : 'symbol' : '1.0'}} /month</span>
                            <span *ngIf="property.saleLease == 'Sold'">{{property.soldPrice | currency : 'USD' : 'symbol' : '1.0'}}</span>
                        </h4>
                    </div>
                    <span class="list_status-pr" >{{property.type}}</span>
                    <app-rating [ratingsCount]="property.ratingsCount" [ratingsValue]="property.ratingsValue"></app-rating>
                </div>

                <div *ngIf="viewType=='list' && fullWidthPage" fxShow="false" fxShow.gt-sm class="mt-3"> 
                    <p>{{property.desc}}</p>
                </div>
                <div class="features mt-3" *ngIf="property.propertyType == 'residential'">                    
                    <p class="rtl-pr-item"><span class="item-pr-fields">{{ 'property.details.prsize' | translate }}</span><span class="item-pr-value">{{property.approxSquareFootageMax}} ft²</span></p>
                    <p class="rtl-pr-item"><span class="item-pr-fields">{{ 'property.bedrooms' | translate }}</span><span class="item-pr-value">{{property.bedrooms? property.bedrooms:'-'}}</span></p>
                    <p class="rtl-pr-item"><span class="item-pr-fields">{{ 'property.bathroom' | translate }}</span><span class="item-pr-value">{{property.washrooms? property.washrooms:'-'}}</span></p>
                    <p class="rtl-pr-item"><span class="item-pr-fields">{{ 'property.garage/parking' | translate }}</span><span class="item-pr-value">{{property.garageSpaces? property.garageSpaces:'0'}} / {{property.parkingSpaces? property.parkingSpaces:'0'}}</span></p>
                </div> 
                <div class="features mt-3" *ngIf="property.propertyType == 'commercial'">                 
                    <p class="rtl-pr-item"><span class="item-pr-fields">{{ 'property.details.type' | translate }}</span><span class="item-pr-value">{{property.type}}</span></p>
                    <p class="rtl-pr-item"><span class="item-pr-fields">{{ 'property.garage/parking' | translate }}</span><span class="item-pr-value">{{property.garageSpaces? property.garageSpaces:'0'}} / {{property.parkingSpaces? property.parkingSpaces:'0'}}</span></p>
                </div> 

            </mat-card-content>
            <div class="sticky-footer-helper" fxFlex="grow"></div>
            <mat-card-actions class="m-0 p-0" fxLayoutAlign="space-between center" > 
                <p fxLayout="row" class="date mb-0" style="margin-bottom: 10px;" *ngIf="property.listingEntryDate">
                    <mat-icon class="text-muted" *ngIf="property.listingEntryDate">date_range</mat-icon>
                    <span style="padding: 3px;" class="mx-2" >{{property.listingEntryDate | date:"dd MMMM, yyyy" }}</span>
                </p>
                <div style="margin-bottom: 10px;">
                    <a [routerLink]="['/properties', property.id]" mat-stroked-button color="primary" class="uppercase">{{ 'property.details' | translate }}</a>
                </div> 
            </mat-card-actions> 
        </div>        
        
    </div> 
    <div *ngIf="(property.saleLease == 'Sale' || property.saleLease == 'Sold') && !user" class="bg-text">
        <button type="button" [routerLink]="['/login']" class="el-button--primary">
            <mat-icon matPrefix class="mr-1 text-muted">lock</mat-icon><span>{{ 'app.loginRequired' | translate }}</span> 
        </button>
    </div>

</mat-card>