.property-item{
    height: 100%;
    overflow: hidden;
    .thumbnail-section{
        position: relative;
    }
    .mat-card-image{
        position: relative;
        min-height: 180px;
        .swiper-container{
            .swipe-arrow.mat-icon-button{
                color: #fff;
                &.swiper-button-next{
                    right: 4px;
                }
                &.swiper-button-prev{
                    left: 4px;
                }
            }
        }
        .swiper-slide{              
            text-align: center;
            padding-bottom: 66.25%;
            position: relative;
            overflow: hidden;  
            background: rgba(0, 0, 0, 0.04);          
        }
        img{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: auto;
        } 
    }
    .property-status{
        position: absolute;
        z-index: 2;
        span{
            padding: 5px 10px;
            font-size: 12px;
            color: #fff;
            font-weight: 600;
            text-transform: uppercase;
        }
    }
    .title{ 
        font-size: 18px;       
        a{
            transition: 0.2s;
            text-decoration: none; 
        }
    }
    .address, .date{
        font-style: italic;
        margin-top: 8px;
        .mat-icon{
            margin-left: -4px;
        }
    }  
    .price{ 
        span{
            display: block;
        }
    }  
    .features p {
        span{
            &:first-child {
                float: left;
                padding: 0 .4em 0 0;	
            }
            + span {
                float: right;
                padding: 0 0 0 .4em;
                font-weight: 500;	
            }
        }
        &:after {
            content: "";
            display: block;
            overflow: hidden;
            height: 1em; 
        }
    }
    .control-icons{ 
        position: absolute;
        z-index: 2; 
        right: 2px;
        margin-top: -30px;
        button.mat-button{
            min-width: 26px;
            width: 26px;
            line-height: 26px;
            padding: 0;
            margin: 0 4px;
            background: rgba(255, 252, 252, 0.6);
            transition: 0.2s; 
            color:rgba(0, 0, 0, 0.87);
            &:disabled{
                color: rgba(0, 0, 0, 0.26); 
            }
            &:hover:enabled{
                background: rgba(255, 252, 252, 1);
            }             
        }
    }
    &.grid-item{
        flex-flow: column !important;
        &.column-2{
            .title{
                font-size: 22px;
            }
            .price{
                font-size: 18px;
            }
        }
        &.column-3{
            .title{
                font-size: 18px;
            }
            .address, .date{
                font-size: 12px;
                .mat-icon{
                    font-size: 18px;
                    width: 18px;
                    height: 18px;
                }
            }
        }
        &.full-width-page{
            &.column-2{
                .title{
                    font-size: 28px;
                }
                .price{
                    font-size: 20px;
                }
            }
            &.column-3{
                .title{
                    font-size: 22px;
                }
                .address, .date{
                    font-size: 14px;
                    .mat-icon{
                        font-size: 24px;
                        width: 24px;
                        height: 24px;
                    }
                }
                .price{
                    font-size: 18px;
                }
            }
            &.column-4{
                .title{
                    font-size: 18px;
                }
                .address, .date{
                    font-size: 12px;
                    .mat-icon{
                        font-size: 18px;
                        width: 18px;
                        height: 18px;
                    }
                }
            }
        }
    }
    &.list-item{ 
        .title{
            font-size: 28px;
            margin-top: -8px;
        }
        .price{
            font-size: 20px; 
        }
        .features{
            display: flex;
            flex-flow: wrap;
            p{
                margin-right: 24px;
                display: flex;
                white-space: nowrap;
                span:first-child:after {
                    content: ":";
                    margin: 0 1px;	
                }
                &:after {
                    content: none;
                }
            }
        }
    }

 
}


@media screen and (max-width: 959px) {
    .property-item{
        &.grid-item{
            .title{
                font-size: 22px;
            }
            &.column-2{
                .title{
                    font-size: 22px;
                }
            }
            &.full-width-page{
                &.column-2{
                    .title{
                        font-size: 22px;
                    }
                }
            }
        }
        &.list-item{
            .title{
                font-size: 22px;
            }
            .address, .date{
                font-size: 12px;
                .mat-icon{
                    font-size: 18px;
                    width: 18px;
                    height: 18px;
                }
            }
            .price{
                font-size: 18px;
            }
        }
    }
}
.el-button--primary {
    border-style: none !important;
    color: #fff;
    background-color: #e01a27;
    border-color: #e01a27;
    width: 100%;
    font-weight: 500;
    font-size: 18px;
    height: 58px;
}
.bg-text {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 0px;
    text-align: center;
  }
  .item-pr-fields{
    width: 50%;
    text-align: left;
    font-weight: 500;
  }
  .item-pr-value{
    font-weight: 400 !important;
    color: #666 !important;
  }
  