<div class="px-3" *ngIf="property"> 
    <div *ngIf="(property.saleLease == 'Sale' || property.saleLease == 'Sold')  && !user" class="bg-text">
        <button type="button" [routerLink]="['/login']" class="el-button--logreq">
            <mat-icon matPrefix class="mr-1 text-muted">lock</mat-icon><span>{{'app.loginRequired' | translate}}</span> 
        </button>
    </div>    
    <div class="theme-container" [ngStyle]="{'-webkit-filter':(property.saleLease == 'Sale' || property.saleLease == 'Sold')  && !user ? 'blur(6px)' : '' }"> 
        <mat-sidenav-container class="single-property mt-3">
            <mat-sidenav #sidenav [opened]="sidenavOpen" [mode]="sidenavOpen ? 'side' : 'over'" position="end" autoFocus="false" (openedChange)="onOpenedChange()">
                <button fxHide="false" fxHide.gt-sm="true" mat-mini-fab color="warn" class="close" (click)="sidenav.close()">
                    <mat-icon>close</mat-icon>
                </button>
                <mat-card [perfectScrollbar]="psConfig" class="mat-card1"> 
                <div class="widget">
                    <p class="form_title">
                        {{'property.dailyProperties' | translate}}
                    </p>
                    <form [formGroup]="contactForm" (ngSubmit)="onContactFormSubmit(contactForm.value)">
                        <!-- <p>Subscribe to get daily new properties.</p> -->
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>{{'app.label.name' | translate}}</mat-label>
                            <input matInput placeholder="Your Name" autocomplete="off" formControlName="name">
                            <mat-icon matPrefix>perm_identity</mat-icon>
                            <mat-error *ngIf="contactForm.controls.name.errors?.required">{{'profile.nameRequired' | translate}}</mat-error>                   
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>{{'app.label.email' | translate}}</mat-label> 
                            <input matInput placeholder="Your Email" autocomplete="off" formControlName="email">
                            <mat-icon matPrefix>email</mat-icon>
                            <mat-error *ngIf="contactForm.controls.email.errors?.required">{{'property.email.emailRequired' | translate}}</mat-error>
                            <mat-error *ngIf="contactForm.controls.email.hasError('invalidEmail')">{{'property.email.emailError' | translate}}</mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>{{'property.searchPlaceholder' | translate}}</mat-label>
                            <input matInput placeholder="Search Address" autocomplete="off" formControlName="address" [matAutocomplete]="auto">
                            <mat-error *ngIf="contactForm.controls.address.errors?.required">{{'property.addressRequired' | translate}}</mat-error> 
                            <mat-autocomplete #auto="matAutocomplete">
                                    <mat-option *ngIf="isLoading" class="is-loading">{{'loading' | translate}}</mat-option>
                                    <ng-container *ngIf="!isLoading">
                                        <mat-option (onSelectionChange)="optionSelected($event)"  *ngFor="let option of searchoptions" [value]="option.address">
                                            <span >{{option.address}}, {{option.area}}, {{option.municipality}} </span> 
                                            </mat-option>
                                    </ng-container>
                            </mat-autocomplete>                  
                        </mat-form-field>
                        <div formGroupName="sliderControlGroupArea"  class="p-2">                         
                            <mat-label class="label-sc">{{'property.areaRadius' | translate}}</mat-label>
                            <ng5-slider [(value)]="valueArea" [(highValue)]="highValueArea" formControlName="sliderControlArea" [options]="optionsArea"></ng5-slider>
                        </div>
                        <div *ngIf="showMore">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>{{'property.phone' | translate}}</mat-label>
                                <input matInput placeholder="Your Phone" autocomplete="off" formControlName="phone" > 
                                <mat-error *ngIf="contactForm.controls.phone.errors?.required">{{'property.phone.phonerequired' | translate}}</mat-error>                 
                            </mat-form-field>
                            <div class="p-2">
                                <div class="el-button-group">
                                    <button [ngClass]="isForSale ? 'el-button--primary' : 'el-button--default'" (click)="changePrType('sale')" type="button" class="el-button el-button--small" >
                                        <span>{{'property.forSale' | translate}}</span>
                                    </button> 
                                    <button [ngClass]="isForSale ? 'el-button--default' : 'el-button--primary'" (click)="changePrType('rent')"  type="button" class="el-button el-button--small">
                                        <span>{{'property.forLease' | translate}}</span>
                                    </button>
                                </div>
                            </div>
                            <div class="p-2">                         
                                <div class="el-button-group">
                                    <mat-radio-group aria-label="Select an option" formControlName="propertyType" [(ngModel)]="prTypeStatus">
                                        <mat-radio-button value="residential" [checked]="prTypeStatus === 'residential'">{{'property.residential' | translate}}</mat-radio-button>
                                        <mat-radio-button value="commercial" [checked]="prTypeStatus === 'commercial'">{{'property.commercial' | translate}}</mat-radio-button>
                                      </mat-radio-group>
                                </div>
                            </div>

                            <div *ngIf="prTypeStatus === 'residential'" >
                                <mat-form-field appearance="outline" class="w-100">
                                    <mat-label>{{'property.propertyTypes' | translate}}</mat-label> 
                                    <mat-select  placeholder="Select Property Options" formControlName="propertyOption">
                                        <mat-option *ngFor="let propertyOption of propertyOptionsRes" [value]="propertyOption.name">
                                            {{propertyOption.name}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div *ngIf="prTypeStatus === 'commercial'" >
                                <mat-form-field appearance="outline" class="w-100">
                                    <mat-label>{{'property.propertyTypes' | translate}}</mat-label> 
                                    <mat-select  placeholder="Select Property Options" formControlName="propertyOption">
                                        <mat-option *ngFor="let propertyOption of propertyOptionsComm" [value]="propertyOption.name">
                                            {{propertyOption.name}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="p-2" formGroupName="bedrooms" *ngIf="prTypeStatus === 'residential'">
                                <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                                    <mat-label class="label-sc">{{'property.bedrooms' | translate}}</mat-label>
                                    <div fxFlex="100" class="buttons-groups">
                                        <div class="el-button-group">
                                            <button [ngClass]="bedrooms.size == 0 ? 'el-button--primary' : 'el-button--default'" (click)="addBedrooms('All')" type="button" class="el-button el-button--mult" >
                                                <span>{{'property.any' | translate}}</span>
                                            </button> 
                                            <button [ngClass]="bedrooms.has('1') ? 'el-button--primary' : 'el-button--default'" (click)="addBedrooms('1')" type="button" class="el-button el-button--mult" >
                                                <span>1</span>
                                            </button> 
                                            <button [ngClass]="bedrooms.has('2') ? 'el-button--primary' : 'el-button--default'" (click)="addBedrooms('2')" type="button" class="el-button el-button--mult" >
                                                <span>2</span>
                                            </button> 
                                            <button [ngClass]="bedrooms.has('3') ? 'el-button--primary' : 'el-button--default'" (click)="addBedrooms('3')" type="button" class="el-button el-button--mult" >
                                                <span>3</span>
                                            </button> 
                                            <button [ngClass]="bedrooms.has('4') ? 'el-button--primary' : 'el-button--default'" (click)="addBedrooms('4')" type="button" class="el-button el-button--mult" >
                                                <span>4</span>
                                            </button>
                                            <button [ngClass]="bedrooms.has('5+') ? 'el-button--primary' : 'el-button--default'" (click)="addBedrooms('5+')" type="button" class="el-button el-button--mult" >
                                                <span>5+</span>
                                            </button> 
                                        </div>
                                    </div>
                                </div> 
                            </div>

                            <div class="p-2" formGroupName="washrooms" *ngIf="prTypeStatus === 'residential'">
                                <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                                    <mat-label class="label-sc">{{'property.bathroom' | translate}}</mat-label>
                                    <div fxFlex="100" class="buttons-groups">
                                        <div class="el-button-group">
                                            <button [ngClass]="bathrooms.length == 0 ? 'el-button--primary' : 'el-button--default'" (click)="addBathrooms('All')" type="button" class="el-button el-button--mult" >
                                                <span>{{'property.any' | translate}}</span>
                                            </button> 
                                            <button [ngClass]="bathrooms.indexOf('1') !== -1 ? 'el-button--primary' : 'el-button--default'" (click)="addBathrooms('1')" type="button" class="el-button el-button--mult" >
                                                <span>1+</span>
                                            </button> 
                                            <button [ngClass]="bathrooms.indexOf('2') !== -1 ? 'el-button--primary' : 'el-button--default'" (click)="addBathrooms('2')" type="button" class="el-button el-button--mult" >
                                                <span>2+</span>
                                            </button> 
                                            <button [ngClass]="bathrooms.indexOf('3') !== -1 ? 'el-button--primary' : 'el-button--default'" (click)="addBathrooms('3')" type="button" class="el-button el-button--mult" >
                                                <span>3+</span>
                                            </button> 
                                            <button [ngClass]="bathrooms.indexOf('4') !== -1 ? 'el-button--primary' : 'el-button--default'" (click)="addBathrooms('4')" type="button" class="el-button el-button--mult" >
                                                <span>4+</span>
                                            </button>
                                            <button [ngClass]="bathrooms.indexOf('5') !== -1 ? 'el-button--primary' : 'el-button--default'" (click)="addBathrooms('5')" type="button" class="el-button el-button--mult" >
                                                <span>5+</span>
                                            </button> 
                                        </div>
                                    </div>
                                </div> 
                            </div> 
                
                            <div class="p-2" formGroupName="parkingSpaces" *ngIf="prTypeStatus === 'residential'">
                                <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                                    <mat-label class="label-sc">{{'property.garage/parking' | translate}}</mat-label>
                                    <div fxFlex="100" class="buttons-groups">
                                        <div class="el-button-group">
                                            <button [ngClass]="parkings.indexOf('0') !== -1 ? 'el-button--primary' : 'el-button--default'" (click)="addParkings('0')" type="button" class="el-button el-button--mult" >
                                                <span>{{'property.any' | translate}}</span>
                                            </button> 
                                            <button [ngClass]="parkings.indexOf('1') !== -1 ? 'el-button--primary' : 'el-button--default'" (click)="addParkings('1')" type="button" class="el-button el-button--mult" >
                                                <span>1+</span>
                                            </button> 
                                            <button [ngClass]="parkings.indexOf('2') !== -1 ? 'el-button--primary' : 'el-button--default'" (click)="addParkings('2')" type="button" class="el-button el-button--mult" >
                                                <span>2+</span>
                                            </button> 
                                            <button [ngClass]="parkings.indexOf('3') !== -1 ? 'el-button--primary' : 'el-button--default'" (click)="addParkings('3')" type="button" class="el-button el-button--mult" >
                                                <span>3+</span>
                                            </button> 
                                            <button [ngClass]="parkings.indexOf('4') !== -1 ? 'el-button--primary' : 'el-button--default'" (click)="addParkings('4')" type="button" class="el-button el-button--mult" >
                                                <span>4+</span>
                                            </button>
                                            <button [ngClass]="parkings.indexOf('5') !== -1 ? 'el-button--primary' : 'el-button--default'" (click)="addParkings('5')" type="button" class="el-button el-button--mult" >
                                                <span>5+</span>
                                            </button> 
                                        </div>
                                    </div>
                                </div> 
                            </div> 
                            
                            <div formGroupName="sliderControlGroup"  class="p-2">                         
                                <mat-label class="label-sc">{{'property.squareFootage' | translate}}</mat-label>
                                <ng5-slider [(value)]="value" [(highValue)]="highValue" formControlName="sliderControl" [options]="options"></ng5-slider>
                            </div>
    
                            <div formGroupName="sliderControlGroupNew"  class="p-2">                         
                                <mat-label class="label-sc">{{'property.priceRange' | translate}}</mat-label>
                                <ng5-slider [(value)]="valueNew" [(highValue)]="highValueNew" formControlName="sliderControlNew" [options]="optionsNew"></ng5-slider>
                            </div>
                            <div class="p-2">                         
                                <mat-form-field appearance="outline" class="w-100">
                                    <mat-label>{{'property.details.basement' | translate}}</mat-label>
                                    <mat-select placeholder="Select Basement Type" formControlName="basementStyle" >
                                        <mat-option *ngFor="let basementStyle of basementStyles" [value]="basementStyle.name">
                                            {{basementStyle.name}}
                                        </mat-option>
                                    </mat-select> 
                                </mat-form-field>
                            </div>
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>{{'property.details.message' | translate}}</mat-label> 
                                <textarea matInput placeholder="Your Message" formControlName="message" rows="6"></textarea> 
                                <mat-error *ngIf="contactForm.controls.message.errors?.required">{{'property.details.messageRequired' | translate}}</mat-error>
                            </mat-form-field>
                        </div>

                        <div class="text-center">
                            <button mat-raised-button color="accent" type="submit">{{'app.button.submit' | translate}}</button>
                            <button mat-raised-button color="primary" class="uppercase mx-1" type="button" (click)="showMore = !showMore" matTooltip="Advanced Options">{{(showMore) ? 'Hide' : 'More'}}</button> 
                        </div>
                    </form>
                </div>
                </mat-card>
                <mat-card [perfectScrollbar]="psConfig" class="mat-card1">                     
                    <div class="widget">
                        <p class="form_title">
                            {{'property.scheduleVisit' | translate}}
                        </p>
                        <!-- <h3 class="widget-title side-header">Schedule Visit</h3> -->
                        <form [formGroup]="scheduleForm" (ngSubmit)="onScheduleFormSubmit(scheduleForm.value)">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>{{'property.yourName' | translate}}</mat-label>
                                <input matInput autocomplete="off" formControlName="name">  
                                <mat-icon matPrefix>perm_identity</mat-icon>                
                            </mat-form-field>
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>{{'property.contactNumber' | translate}}</mat-label>
                                <input matInput autocomplete="off" formControlName="contactNumber">  
                                <mat-icon matPrefix>phone</mat-icon>                
                            </mat-form-field>
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>{{'app.label.email' | translate}}</mat-label>
                                <input matInput formControlName="email">        
                                <mat-icon matPrefix>email</mat-icon>          
                            </mat-form-field>
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>{{'property.details.message' | translate}}</mat-label>
                                <textarea matInput autocomplete="off" formControlName="message"></textarea>
                            </mat-form-field>
                            <div class="text-center">
                                <button mat-raised-button color="accent" type="submit">{{'app.button.submit' | translate}}</button>
                            </div>
                        </form>
                    </div>
                </mat-card>
                <mat-card *ngIf="property.saleLease && property.saleLease === 'Sale'" [perfectScrollbar]="psConfig" class="mat-card1"> 
                    <div class="widget">
                        <p class="form_title">
                            {{'property.mortgageCalculator' | translate}}
                        </p>
                        <form [formGroup]="mortgageForm" (ngSubmit)="onMortgageFormSubmit(mortgageForm.value)">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>{{'mortgage.principalAmount' | translate}}</mat-label>
                                <input matInput placeholder="$" autocomplete="off" formControlName="principalAmount" type="number">                  
                            </mat-form-field>
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>{{'mortgage.downPayment' | translate}}</mat-label>
                                <input matInput placeholder="$" autocomplete="off" formControlName="downPayment" type="number">                  
                            </mat-form-field>
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>{{'mortgage.interestRate' | translate}}</mat-label>
                                <input matInput placeholder="%" autocomplete="off" formControlName="interestRate" type="number">                  
                            </mat-form-field>
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>{{'mortgage.period' | translate}}</mat-label>
                                <input matInput placeholder="Number of Years" autocomplete="off" formControlName="period" type="number">                  
                            </mat-form-field>
                            <p *ngIf="monthlyPayment">{{'mortgage.monthlyPayment' | translate}}: <span class="mx-2 fw-500">${{monthlyPayment}}</span></p>
                            <div class="text-center">
                                <button mat-raised-button color="accent" (click)="openDialog()" *ngIf="user" type="button">{{'mortgage.preApprovedMe' | translate}}</button>
                                <button mat-raised-button color="primary" class="uppercase mx-1" type="submit">{{'mortgage.calculateMortgate' | translate}}</button> 
                            </div>
                        </form>
                    </div>
                </mat-card>
            </mat-sidenav>
            
            <mat-sidenav-content ngClass.gt-sm="distance" *ngIf="property" class="details-rtl">

                <mat-card class="mt-3">
                    <div class="main-carousel mb-3"> 
                        <!-- <div *ngIf="property" class="control-icons">
                            <button mat-button [disabled]="onFavorites()" (click)="addToFavorites()" matTooltip="Add To Favorite">
                                <mat-icon class="">favorite_border</mat-icon>
                            </button>
                        </div>   
                        <div id="main-carousel" class="swiper-container" [swiper]="config" (indexChange)="onIndexChange($event)"> 
                            <div class="swiper-wrapper">      
                                <div *ngFor="let image of property?.gallery; let i=index;" class="swiper-slide">{{image.small}}
                                    <img [attr.data-src]="image.small" class="swiper-lazy">
                                    <div class="swiper-lazy-preloader"></div>  

                                    <div class="viewInMap" *ngIf="i == property?.gallery.length - 1 && property.virtualTourURL">
                                        <div class="viewInMap__row el-row">
                                            <div class="el-col el-col-24 el-col-xs-24 el-col-sm-24 el-col-md-24 el-col-lg-16">
                                                <a *ngIf="property.virtualTourURL" href="{{property.virtualTourURL}}" target="_blank" class="vtour_button">Virtual Tour</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>                      
                            <button mat-mini-fab color="primary" class="swiper-button-prev swipe-arrow"><mat-icon>keyboard_arrow_left</mat-icon></button>
                            <button mat-mini-fab color="primary" class="swiper-button-next swipe-arrow"><mat-icon>keyboard_arrow_right</mat-icon></button> 
                        </div> -->
                        
                        <mat-carousel
                            timings="250ms ease-in"
                            [autoplay]="false"
                            interval="5000"
                            color="accent"
                            maxWidth="auto"
                            [loop]="true"
                            [hideArrows]="false"
                            [hideIndicators]="false"
                            [useKeyboard]="true"
                            [useMouseWheel]="false"
                            orientation="ltr">
                            <mat-carousel-slide #matCarouselSlide  *ngFor="let slide of property?.gallery; let i = index"
                                [image]="slide.small" overlayColor="#00000040"
                                [hideOverlay]="false">
                                <div class="viewInMap" *ngIf="property.virtualTourURL">
                                    <div class="viewInMap__row el-row">
                                        <div class="el-col el-col-24 el-col-xs-24 el-col-sm-24 el-col-md-24 el-col-lg-16">
                                            <a *ngIf="property.virtualTourURL" href="{{property.virtualTourURL}}" target="_blank" class="vtour_button">Virtual Tour</a>
                                        </div>
                                    </div>
                                </div>
                            </mat-carousel-slide>
                        </mat-carousel>
                    </div>
                    
                    <!-- <div class="small-carousel">   
                        <div id="small-carousel" class="swiper-container" [swiper]="config2"> 
                            <div class="swiper-wrapper">      
                                <div *ngFor="let image of property.gallery; let i=index;" class="swiper-slide" [ngClass]="'thumb-'+i" [class.active-thumb]="i == 0">
                                    <img [attr.data-src]= "image.small" class="swiper-lazy mw-100" (click)="selectImage(i)">
                                    <div class="swiper-lazy-preloader"></div>     
                                </div>
                            </div>  
                        </div>
                    </div> -->
                </mat-card>

                

                <mat-card *ngIf="property" class="mt-3">
                    <div class="vue-flex vue-flex-row property-details">
                        <div class="left">
                            <div class="address"><span *ngIf="property.aptUnit">Unit {{property.aptUnit ? property.aptUnit : ''}} -</span> {{property.address}}</div> 
                            <div class="city_name">{{property.community}}  {{property.province}}, {{property.postalCode}}</div> 
                            <div class="house_type">{{property.type}}</div>
                        </div> 
                        <!-- //proerty for Sale -->
                        <div class="right_extra" *ngIf="sold_date && property.event === ' For Sale'">
                            <div class="estimate_price">
                                <label>{{'property.listedFor' | translate}}:</label> 
                                <span class="price_origin"> {{property.listPrice | currency : 'USD' : 'symbol' : '1.0'}}</span> 
                            </div>
                            <div class="price_sold">
                                <label>{{'property.soldFor' | translate}}:</label> 
                                <span> {{property.soldPrice | currency : 'USD' : 'symbol' : '1.0'}}</span>
                            </div>  
                            <div class="list_status_and_list_days"> 
                                <span class="list_days">Sold days ago</span>
                            </div> 
                            <div class="list_status_and_list_days"> 
                                <div>Listed by {{property.listBrokerage ? property.listBrokerage : '-'}}</div>
                            </div> 
                        </div>
                        <!-- //proerty for Sale -->
                        <div class="right_extra" *ngIf="!sold_date && property.event === 'For Sale'">
                            <div class="estimate_price">
                                <span class="list_status" >{{'property.forSale' | translate}}</span>
                                <label class="soldForLabel">{{'property.listedFor' | translate}}:</label> 
                                <span class="price_origin labelRedColor" style="font-size: 26px;"> {{property.listPrice | currency : 'USD' : 'symbol' : '1.0'}}</span> 
                            </div> 
                            <div class="list_status_and_list_days"> 
                                <div class="estimate_date">Listed {{property.difference_In_ListingDays}} days ago</div>
                            </div> 
                            <div class="list_status_and_list_days"> 
                                <div>Listed by {{property.listBrokerage ? property.listBrokerage : '-'}}</div>
                            </div> 
                        </div>
                        <!-- //proerty Sold -->
                        <div class="right_extra" *ngIf="!sold_date && property.event === 'Sold'">
                            <div class="estimate_price">
                                <!-- <span class="list_status" >{{'property.sold' | translate}}</span> -->
                                <div class="mb0 alignRight">
                                    <label class="soldForLabel">{{'property.listedFor' | translate}}:</label> 
                                    <span class="price_dollar scrachedFont"> {{property.originalPrice | currency : 'USD' : 'symbol' : '1.0'}}</span> 
                                </div>
                                <div class="mb0 alignRight">
                                    <label class="soldForLabel labelRedColor">{{'property.soldFor' | translate}}:</label> 
                                    <span class="price_dollar soldFor"> {{property.soldPrice | currency : 'USD' : 'symbol' : '1.0'}}</span> 
                                </div>
                                
                            </div> 
                            <div class="list_status_and_list_days"> 
                                <div class="estimate_date">Sold {{property.difference_In_SoldDays}} days ago</div>
                            </div> 
                            <div class="list_status_and_list_days"> 
                                <div>Listed by {{property.listBrokerage ? property.listBrokerage : '-'}}</div>
                            </div> 
                        </div>
                        <!-- //proerty terminated -->
                        <div class="right_extra" *ngIf="property.event === 'Terminated'">
                            <div class="estimate_price">
                                <span class="list_status" >{{'property.Terminated' | translate}}</span>
                                <label>{{'property.listedFor' | translate}}:</label> 
                                <span class="price_dollar" style="text-decoration: line-through;"> {{property.listPrice | currency : 'USD' : 'symbol' : '1.0'}}</span> 
                            </div> 
                            <div class="list_status_and_list_days"> 
                                <div *ngIf="dateDifference" class="estimate_date">Terminated {{dateDifference}} days ago</div>
                            </div> 
                            <div class="list_status_and_list_days"> 
                                <div>Listed by {{property.listBrokerage ? property.listBrokerage : '-'}}</div>
                            </div> 
                        </div>
                        <!-- //proerty for Lease -->
                        <div class="right_extra" *ngIf="property.saleLease === 'Lease' && property.event != 'Expired'">
                            <div class="price_listing price_grey" style="text-align: right;">
                               <label class="soldForLabel">{{'property.listedFor' | translate}}:</label>  
                                <span class="price_dollar scrachedFont"> {{property.originalPrice | currency : 'USD' : 'symbol' : '1.0'}}</span> 
                                <span class="price_dollar soldFor"> {{property.listPrice | currency : 'USD' : 'symbol' : '1.0'}}</span> 
                                <!-- <span class="price_origin"> {{property.listPrice | currency : 'USD' : 'symbol' : '1.0'}} / Month</span>  -->
                            </div> 
                            <div class="list_status_and_list_days"> 
                                <span class="list_status" >{{'property.forLease' | translate}}</span>
                                <span class="list_days" style="font-size: 20px;vertical-align: middle;">Listed {{property.daysOnMarket}} days ago</span>
                            </div>
                        </div>
                        <!-- //proerty for Expired -->
                        <div class="right_extra" *ngIf="property.event === 'Expired'">
                            <div class="price_listing price_grey" style="text-align: right;">
                               <label class="soldForLabel">{{'property.listedFor' | translate}}:</label>  
                                <span class="price_dollar scrachedFont"> {{property.originalPrice | currency : 'USD' : 'symbol' : '1.0'}}</span> 
                                <span class="price_dollar scrachedFont"> {{property.listPrice | currency : 'USD' : 'symbol' : '1.0'}}</span> 
                                <!-- <span class="price_origin"> {{property.listPrice | currency : 'USD' : 'symbol' : '1.0'}} / Month</span>  -->
                            </div> 
                            <div class="list_status_and_list_days"> 
                                <span class="list_days" style="font-size: 20px;vertical-align: middle;">Expired {{getDiff(property.difference_In_ListingDays,property.daysOnMarket)}} days ago</span>
                            </div>
                            <div class="list_status_and_list_days"> 
                                <div>Listed by {{property.listBrokerage ? property.listBrokerage : '-'}}</div>
                            </div>
                        </div>
                        <!-- <div class="right_extra" *ngIf="!sold_date && property.saleLease === 'Sale'">
                            <div class="estimate_price">
                                <div>{{'property.estimatedPrice' | translate}}</div> 
                                <div class="price_dollar">  {{property.originalPrice | currency : 'USD' : 'symbol' : '1.0'}}</div> 
                                <div class="estimate_date">As of {{property?.listingEntryDate | date:"dd-MM-yyyy"}}</div>
                            </div>
                        </div> -->
                    </div>
                    <div class="rooms_count el-row">
                        <div class="el-col el-col-24">
                            <div class="container vue-flex vue-flex-around vue-flex-row">
                                <div class="item">
                                    <img src="assets/images/bedImage.png"> 
                                    <span>{{property.bedrooms? property.bedrooms:''}}<span> <span *ngIf="property.bedroomsPlus && property.bedroomsPlus"> + </span>{{property.bedroomsPlus? property.bedroomsPlus: ''}} </span>{{'property.bedrooms' | translate}}</span>
                                </div> 
                                <div class="item">
                                    <img src="assets/images/bathImage.png"> <span> {{property.washrooms}} {{'property.bathroom' | translate}} </span>
                                </div> 
                                <div class="item">
                                    <img src="assets/images/houseImage.png"> <span> {{property.garageSpaces}} {{'property.garage' | translate}}  </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h2 class="section_title">{{'property.listingHistory' | translate}}</h2>
                    <h3 class="section_sub_title">Buy/sell history for Unit 2907 - {{property.address}}, {{property.area}}({{property.type}})</h3>
                    <div class="table-responsive table-details">
                        <table mat-table style="box-shadow: none;" *ngIf="property?.listingHistory && property?.listingHistory.length != 0" [dataSource]="property?.listingHistory" class="mat-elevation-z8 table">
                            <ng-container matColumnDef="Start Date">
                                <th mat-header-cell *matHeaderCellDef> {{'app.label.startDate' | translate}} </th>
                                <td mat-cell *matCellDef="let element"> 
                                    <span *ngIf="element.contractDate">{{element.contractDate | date:"dd-MM-yyyy"}}</span> 
                                    <span *ngIf="!element.contractDate">-</span> 
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="End Date">
                                <th mat-header-cell *matHeaderCellDef> {{'app.label.endDate' | translate}} </th>
                                <td mat-cell *matCellDef="let element" class="room-table-rows">
                                    <span *ngIf="element.expiryDate && element.event != 'Sold'">{{element.expiryDate | date:"dd-MM-yyyy"}}</span> 
                                    <span *ngIf="element.event === 'Sold'">{{element.soldDate | date:"dd-MM-yyyy"}}</span> 
                                    <span *ngIf="!element.expiryDate && element.event != 'Sold'">-</span> 
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="Price">
                                <th mat-header-cell *matHeaderCellDef> {{'property.price' | translate}} </th>
                                <td mat-cell *matCellDef="let element" class="room-table-rows"> <span *ngIf="element.event == 'Sold'">{{element.soldPrice | currency : 'USD' : 'symbol' : '1.0'}}</span> <span *ngIf="element.event != 'Sold'">{{element.listPrice | currency : 'USD' : 'symbol' : '1.0'}}</span></td>
                            </ng-container>
                            <ng-container matColumnDef="Event">
                                <th mat-header-cell *matHeaderCellDef> {{'app.label.Event' | translate}} </th>
                                <td mat-cell *matCellDef="let element" class="room-table-rows"> {{element.event}} </td>
                            </ng-container>
                            <ng-container matColumnDef="listingID">
                                <th mat-header-cell *matHeaderCellDef> {{'app.label.listingID' | translate}} </th>
                                <td mat-cell *matCellDef="let element" class="room-table-rows">
                                    <a [routerLink]="['/properties', element.id]" class="global-link ViewInMap__link" *ngIf="element.id !== property.id">{{element.mls}}</a>
                                    <span *ngIf="element.id === property.id" style="font-weight: 500;">{{element.mls}}</span>
                                </td>
                            </ng-container>
                            <ng-template *ngIf="property?.listingHistory.length === 0">
                                <tr mat-footer-row *matFooterRowDef="['noRecord']"></tr>
                            </ng-template>
                            <tr mat-header-row *matHeaderRowDef="displayedColumnsHistory" class="el-table-tr"></tr>
                            <tr mat-row *matRowDef="let element; columns: displayedColumnsHistory;" class="el-table-tr"></tr>
                        </table>
                    </div>

                    <div class="title_area">
                        <h2 class="section_title" style="padding: 0px;">{{'property.keyFacts' | translate}}</h2> 
                    </div>
                    <h3 class="section_sub_title">
                        Property Details for <span *ngIf="property.aptUnit">{{property.aptUnit}} - </span> 
                        {{property.address}} {{property.community}}  {{property.area}}
                    </h3>

                    <div fxLayout="row wrap" class="details two_column_data el-row">
                        <div *ngIf="property.taxes" fxFlex="100" fxFlex.gt-xs="50" fxLayout="row" class="item">
                            <span>{{'property.details.tax' | translate}}:</span>
                            <span>$ {{roundOffNumber(property.taxes)}}</span>
                        </div>
                        <div *ngIf="property.mls" fxFlex="100" fxFlex.gt-xs="50" fxLayout="row" class="item">
                            <span>Listing #:</span>
                            <span>{{property.mls}}</span>
                        </div>
                        <div *ngIf="property.type" fxFlex="100" fxFlex.gt-xs="50" fxLayout="row" class="item">
                            <span>{{'property.details.type' | translate}}:</span>
                            <span>{{property.propertyOption ? property.propertyOption : ''}} {{property.style ? ', '+property.style : ''}}</span>
                        </div>
                        <div fxFlex="100" fxFlex.gt-xs="50" fxLayout="row" class="item">
                            <span>Building age:</span>
                            <span>{{ property.approxAge? property.approxAge : '-' }} </span>
                        </div>
                        <div *ngIf="property.maintenance" fxFlex="100" fxFlex.gt-xs="50" fxLayout="row" class="item">
                            <span>{{'property.details.maintenance' | translate}}:</span>
                            <span>${{roundOffNumber(property.maintenance)}}/month</span>
                        </div>
                        <div fxFlex="100" fxFlex.gt-xs="50" fxLayout="row" class="item">
                            <span>Included Utility:</span>
                            <span>{{property.included_utility ? property.included_utility : "-"}}</span>
                        </div>
                        <div fxFlex="100" fxFlex.gt-xs="50" fxLayout="row" class="item">
                            <span>{{'property.details.exposure' | translate}}:</span>
                            <span>{{ property.exposure ? property.exposure : '-' }}</span>
                        </div>
                        <div fxFlex="100" fxFlex.gt-xs="50" fxLayout="row" class="item">
                            <span>{{'property.parking' | translate}}:</span>
                            <span>{{ property.parkingText ? property.parkingText : '-' }}</span>
                        </div> 
                        <div *ngIf="property.daysOnMarket" fxFlex="100" fxFlex.gt-xs="50" fxLayout="row" class="item">
                            <span>{{'property.details.daysOnMarket' | translate}}:</span>
                            <span>{{property.daysOnMarket ? property.daysOnMarket+' days' : '-'}}</span>
                        </div> 
                        <div *ngIf="property.listingEntryDate" fxFlex="100" fxFlex.gt-xs="50" fxLayout="row" class="item">
                            <span>{{'property.details.listedOn' | translate}}:</span>
                            <span>{{property.listingEntryDate | date:"dd-MM-yyyy"}}</span>
                        </div>
                        <div *ngIf="property.lastStatus" fxFlex="100" fxFlex.gt-xs="50" fxLayout="row" class="item">
                            <span>{{'property.details.propertyStatus' | translate}}:</span>
                            <span>{{property.lastStatus}}</span>
                        </div> 
                        <div *ngIf="property.updatedtimestamp" fxFlex="100" fxFlex.gt-xs="50" fxLayout="row" class="item">
                            <span>{{'property.details.updatedOn' | translate}}:</span>
                            <span>{{property.updatedtimestamp | date:"dd-MM-yyyy"}}</span>
                        </div>
                        <div *ngIf="property.basement1" fxFlex="100" fxFlex.gt-xs="50" fxLayout="row" class="item">
                            <span>{{'property.details.basement' | translate}}:</span>
                            <span>{{property.basement1 ? property.basement1 : ''}} {{property.basement2 ? property.basement2 : ''}}</span>
                        </div>
                        <div *ngIf="property.approxSquareFootage" fxFlex="100" fxFlex.gt-xs="50" fxLayout="row" class="item">
                            <span>{{'property.details.size' | translate}}:</span>
                            <span>{{property.approxSquareFootage}} feet²</span>
                        </div>
                        <div fxFlex="100" fxFlex.gt-xs="50" fxLayout="row" class="item">
                            <span>Lot Size:</span>
                            <span>{{property.lotFront ? property.lotFront +'x'+property.lotDepth +' '+property.lotSizeCode : '-' }}</span>
                        </div>
                        <div fxFlex="100" fxFlex.gt-xs="50" fxLayout="row" class="item">
                            <span>Lot Irregularities:</span>
                            <span>{{property.lotIrregularities ? property.lotIrregularities : '-'}}</span>
                        </div>
                        <div *ngIf="property.municipality" fxFlex="100" fxFlex.gt-xs="50" fxLayout="row" class="item">
                            <span>{{'property.details.municipality' | translate}}:</span>
                            <span>{{property.municipality}}</span>
                        </div>
                        <!-- <div *ngIf="property.contractDate" fxFlex="100" fxFlex.gt-xs="50" fxLayout="row" class="item">
                            <span>{{'property.details.yearBuilt' | translate}}:</span>
                            <span>{{property.contractDate | date:'mediumDate'}}</span>
                        </div> -->
                    </div>

                    <h2 class="section_title">{{'app.label.description' | translate}}</h2>
                    <h3 class="section_sub_title_des">{{ property.remarksForClients }} <br /><span *ngIf="isReadLess">{{ property.extras }}</span></h3> 
                    <button type="button" *ngIf="isReadLess"  class="el-button el-button--text read-more-less" (click)="isReadLess = !isReadLess"><span>Read Less</span></button><br />
                    <button type="button" *ngIf="!isReadLess" class="el-button el-button--text read-more-less" (click)="isReadLess = !isReadLess"><span>Read More</span></button><br />

                    <!-- <h2 class="section_title">{{'app.label.description' | translate}}</h2>
                    <h3 class="section_sub_title">Buy/sell history - {{property.aptUnit}} - {{property.address}} {{property.community}}  {{property.area}}</h3> -->
                    <button [ngClass]="showSchoolsOnMap ? 'el-button--primary' : 'el-button--default'" (click)="changeMapMarkers(true)" type="button" class="el-button el-button--mult-map" >
                        <span>{{'property.nearbySold' | translate}}</span>
                    </button>
                    <button [ngClass]="!showSchoolsOnMap ? 'el-button--primary' : 'el-button--default'" (click)="changeMapMarkers(false)" type="button" class="el-button el-button--mult-map" >
                        <span>{{'property.nearbyRent' | translate}}</span>
                    </button>
                    
                    <div class="mb-4" *ngIf="relatedPropertiesForMap">
                    
                        <agm-map *ngIf="relatedPropertiesForMap.length > 0" 
                            maxZoom="18" 
                            [latitude]="relatedPropertiesForMap[0].latitude"
                            [longitude]="relatedPropertiesForMap[0].longitude"
                            [zoom]="zoomLevel"
                            [usePanning]="true"
                            [fullscreenControl]='true'
                            [mapTypeControl]='true'>
                            <agm-marker-cluster
                                (clusterClick)="clickOnCluster($event)" 
                                [minimumClusterSize]= "minClusterSize"
                                imagePath="https://raw.githubusercontent.com/googlemaps/v3-utility-library/master/markerclustererplus/images/m"
                                [styles]="clusterStyles"
                                >
                                <agm-marker *ngFor="let property of relatedPropertiesForMap"
                                    [latitude]="property.latitude"
                                    title={{property.id}}
                                    [longitude]="property.longitude">
            
                                <agm-info-window>
                                    <mat-card *ngIf="property" class="mt-3">
                                        <div fxLayout="row wrap">
                                            <div class='column popup-style-right'>
                                                <span class="popup-title-p">
                                                    <span class="popup-title">{{property.type}}</span>
                                                    <span class="popup-subtitle"> For {{property.saleLease}}</span>
                                                </span>
                                                <div class="mapImage">
                                                    <span>
                                                        <div class="imageDiv">
                                                            <img [src]="property.propertyImage" alt="wishlistCircle">
                                                        </div>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class='column popup-style-left'>
                                                <span class="popup-subtitle">Listing Date : {{property.listingEntryDate | date:"dd-MM-yyyy"}}</span><br><br>
                                                <span><span class="popup-keys">Address:</span>  {{property.address}} {{property.area}}</span><br>
                                                <span><span class="popup-keys">Bedrooms:</span>  {{property.bedrooms}}</span><br>
                                                <span><span class="popup-keys">Bathrooms:</span>  {{property.washrooms}}</span><br>
                                                <span><span class="popup-keys">Parking:</span>  {{property.parkingSpaces}}</span><br>
                                                <span><span class="popup-keys">Prize:</span> <span class="popup-values"> ${{property.listPrice}}</span> </span><br>
                                                <b><span style='color: #0078A8;'>Days on market :</span></b>
                                                <span>{{property.daysOnMarket ? property.daysOnMarket+' days' : '-'}}</span>
                                            </div>
                                        </div>                            
                                    </mat-card>
                                </agm-info-window>
                               </agm-marker>
                            </agm-marker-cluster>
                        </agm-map>
                    </div>
                    <h3 class="section_sub_title" *ngIf="this.relatedProperties.length == 0" style="margin-top: 15px;">No Nearby Properties</h3>
                    <span class="section_title" *ngIf="!nearBySold && this.relatedProperties.length > 0">{{'property.nearbyRent' | translate}}</span>
                    <span class="section_title" *ngIf="nearBySold && this.relatedProperties.length > 0">{{'property.nearbySold' | translate}}</span>
                    <h3 class="section_sub_title" *ngIf="this.relatedProperties.length > 0">House near {{property.address}} {{property.community}}  {{property.area}}.</h3>
                    
                    <!-- <div class="theme-container"> 
                        <div fxLayout="row wrap" class="properties-wrapper">
                          <div *ngFor="let property of relatedProperties" [fxFlex]="(viewType=='grid') ? viewCol : 33" class="item">                         
                            <app-property-item [property]="property" [viewType]="viewType" [viewColChanged]="viewCol"></app-property-item>
                          </div>
                        </div>
                      </div> -->
                    
                    <app-properties-carousel *ngIf="this.relatedProperties.length > 0" [properties]="relatedProperties"></app-properties-carousel>
                    <div class="title_area">
                        <h2 class="section_title" style="padding: 0px;">Property {{'property.details' | translate}}</h2>
                    </div>
                    <h3 class="section_sub_title">Property details for {{property.address}} {{property.community}}  {{property.area}}.</h3>
                    <div fxLayout="row wrap" class="details two_column_data el-row">
                        <div class="left each_column_container el-col el-col-12 details-align">
                            <h4>{{'property' | translate}}</h4>
                            <div class="details-item">
                                <label>{{'property.details.intersection' | translate}}:</label> 
                                <span *ngIf="property.directionsCrossStreets">{{property.directionsCrossStreets}}</span>
                                <span *ngIf="!property.directionsCrossStreets">-</span>
                            </div>
                            <div class="details-item">
                                <label>{{'property.details.style' | translate}}:</label> 
                                <span *ngIf="property.type">{{property.style}}</span>
                                <span *ngIf="!property.type">-</span>
                            </div>
                            <div class="details-item">
                                <label>{{'property.details.exposure' | translate}}:</label> 
                                <span>{{property.exposure}}</span>
                            </div>
                            <div class="details-item">
                                <label>{{'app.label.amenities' | translate}}:</label>
                                <span *ngIf="!property.buildingAmenities">-</span>
                                <span *ngIf="property.buildingAmenities" class="details-aminities">{{getConcatedString( property?.buildingAmenities)}}</span>
                            </div>
                            <h4>{{'property.details.acHeal' | translate}}</h4>
                            <div class="details-item">
                                <label>{{'property.details.acSystem' | translate}}:</label> 
                                <span *ngIf="property.airConditioning">{{property.airConditioning}}</span>
                                <span *ngIf="!property.airConditioning">-</span>
                            </div>
                            <div class="details-item">
                                <label>{{'property.details.heatSource' | translate}}:</label> 
                                <span>{{property.heatSource ? property.heatSource : '-'}} / {{property.heatType ? property.heatType : '-'}}</span>
                            </div>
                            <div class="details-item" *ngIf="property.fireplaceStove">
                                <label>{{'property.details.firePlace' | translate}}:</label> 
                                <span *ngIf="property.fireplaceStove">{{property.fireplaceStove}}</span>
                                <span *ngIf="!property.fireplaceStove">-</span>
                            </div>
                            <div class="details-item" *ngIf="property.centralVac">
                                <label>Central Vac :</label> 
                                <span>{{property.centralVac ? property.centralVac : '-'}}</span>
                            </div>
                            <h4>{{'property.details.construction' | translate}}</h4>
                            <div class="details-item">
                                <label>{{'property.details.construction' | translate}}:</label> 
                                <span>{{getCombinedConstruction(property)}}</span>
                            </div>
                        </div>
                        <div class="right each_column_container el-col el-col-12 details-align">
                            <h4>{{'property.parking' | translate}}</h4>
                            <div class="details-item">
                                <label>{{'property.garage' | translate}}:</label> 
                                <span>{{property.garageSpaces > 0 ? property.garageSpaces+' '+checkNull(property.garageType) : '-'}}</span>
                            </div>
                            <div class="details-item">
                                <label>{{'property.parking' | translate}}:</label> 
                                <span>{{getParkingSpaces(property.parking) > 0 ? getParkingSpaces(property.parking) +' '+checkNull(property.garageType)  : '-'}}</span>
                            </div>
                            <h4>Utilities</h4>
                            <div class="details-item">
                                <label>Gas:</label> 
                                <span>{{property.uitilitiesGas ? property.uitilitiesGas : "-"}}</span>
                            </div>
                            <div class="details-item" *ngIf="property.waterSupplyTypes">
                                <label>Water Supply:</label> 
                                <span>{{property.waterSupplyTypes ? property.waterSupplyTypes : "-"}}</span>
                            </div>
                            <div class="details-item">
                                <label>Cable:</label> 
                                <span>{{property.uitilitiesCable ? property.uitilitiesCable : "-"}}</span>
                            </div>
                            <div class="details-item">
                                <label>Telephone:</label> 
                                <span>{{property.uitilitiesTelephone ? property.uitilitiesTelephone : "-"}}</span>
                            </div>
                            <h4>{{'property.details.land' | translate}}</h4>
                            <div class="details-item">
                                <label>{{'property.details.sewer' | translate}}:</label> 
                                <span>{{property.sewer ? property.sewer : '-'}}</span>
                            </div>
                            <div class="details-item">
                                <label>{{'property.details.zoning' | translate}}:</label> 
                                <span>{{property.zoning ? property.zoning : '-'}}</span>
                            </div>
                            <div class="details-item">
                                <label>{{'property.details.municipality' | translate}}:</label> 
                                <span *ngIf="property.municipality">{{property.municipality}}</span>
                                <span *ngIf="!property.municipality">-</span>
                            </div>
                        </div>
                    </div>
                    
                    <!-- <h2 class="section_title">{{'property.details.remarks' | translate}}</h2>
                    <h3 class="section_sub_title_des">{{property.remarksForClients}}</h3> -->
                    <h2 class="section_title" *ngIf="property?.roomDetails && property?.roomDetails.length != 0">{{'property.rooms' | translate}}</h2>
                    <div class="table-responsive">
                        <table mat-table style="box-shadow: none;" *ngIf="property?.roomDetails && property?.roomDetails.length != 0" [dataSource]="property?.roomDetails" class="mat-elevation-z8 table">
                            <ng-container matColumnDef="room">
                                <th mat-header-cell *matHeaderCellDef> {{'property.rooms' | translate}} </th>
                                <td mat-cell *matCellDef="let element"> {{element.room ? element.room : '-'}} </td>
                            </ng-container>
                            <ng-container matColumnDef="Dimension">
                                <th mat-header-cell *matHeaderCellDef> {{'property.details.dimension' | translate}} </th>
                                <td mat-cell *matCellDef="let element" class="room-table-rows">{{toFixedRoomDimension(element) ? toFixedRoomDimension(element) : '-'}}</td>
                            </ng-container>
                            <ng-container matColumnDef="Description">
                                <th mat-header-cell *matHeaderCellDef> {{'app.label.description' | translate}} </th>
                                <td mat-cell *matCellDef="let element" class="room-table-rows">{{getCombinedDesc(element) ? getCombinedDesc(element) : '-'}}</td>
                            </ng-container>
                            <ng-container matColumnDef="level">
                                <th mat-header-cell *matHeaderCellDef> {{'app.label.level' | translate}} </th>
                                <td mat-cell *matCellDef="let element" class="room-table-rows"> {{element.level.value ? element.level.value : '-'}} </td>
                            </ng-container>
                            <ng-template *ngIf="property?.roomDetails.length === 0">
                                <tr mat-footer-row *matFooterRowDef="['noRecord']"></tr>
                            </ng-template>
                            <tr mat-header-row *matHeaderRowDef="displayedColumns" class="el-table-tr"></tr>
                            <tr mat-row *matRowDef="let element; columns: displayedColumns;" class="el-table-tr"></tr>
                        </table>
                    </div>

                    <h2 class="section_title" *ngIf="property?.schools.results.length > 0">{{'property.schoolsInfo' | translate}}</h2>
                    <mat-card-content>
                        <mat-accordion>
                            <mat-expansion-panel *ngFor="let plan of property?.schools.results; let i = index;" [expanded]="i === 0" class="school-exp-background">
                                <mat-expansion-panel-header>  
                                    <mat-panel-title fxLayout="row" fxLayoutAlign="space-between">
                                        <div class="header_container el-row">
                                            <div class="left_part el-col el-col-16">
                                                <span class="school_name">{{plan.name}}</span> 
                                                <div class="school_tags">
                                                    <span class="school_tag" *ngFor="let tags of plan?.types">{{tags}}</span>
                                                </div>
                                            </div> 
                                            <div class="score el-col el-col-4">
                                                <span class="molecular">{{plan.rating}}</span> 
                                                <span class="denominator">/10</span> 
                                                <span class="score_year">(2020)</span>
                                            </div> 
                                            <div class="distance el-col el-col-4">{{plan.distance.toFixed(2)}} KM</div>
                                        </div>
                                    </mat-panel-title> 
                                </mat-expansion-panel-header>
                                <div class="school_detail_container">
                                    <div class="info">{{'property.basicInfo' | translate}}</div> 
                                    <div class="address">
                                        <span class="school_info_label">{{'property.details.address' | translate}}:</span>{{plan.formatted_address}}
                                    </div>
                                    <div>
                                        <span class="school_info_label">{{'property.details.schoolStatus' | translate}}:</span>{{plan.business_status}}</div> 
                                    <div>
                                    </div> 
                                    <div><span class="school_info_label">{{'property.details.webSite' | translate}}:</span><a href="https://bt.hwcdsb.ca/" target="_blank">None</a></div> 
                                    <div class="rating">
                                        <div class="fi">
                                            <div class="fi_rank"><span class="school_info_label">{{'property.details.rank' | translate}}:</span><span>{{'app.label.none' | translate}}</span> ( 2019-20 )</div> 
                                            <div class="fi_rank"><span class="school_info_label">{{'app.label.rating' | translate}}:</span>{{plan.rating}} ( 2019-20 )</div> 
                                        </div>
                                    </div>
                                </div>

                                <!-- <div style="text-align: initial;">
                                    <span>Address: <span class="fw-500">{{plan.formatted_address}}</span></span><br><br>
                                    <span>School Status: <span class="fw-500">{{plan.business_status}}</span></span><br><br>
                                    <span>School Type: <span class="fw-500">Elementary (Public)</span></span><br><br>
                                    <span>Web Site: <a>http://schools.tdsb.on.ca/huronstreet</a></span>                                  
                                </div> -->
                                <!-- <img [src]="plan.image" [alt]="plan.name" class="mw-100">
                                <p>{{plan.desc}}</p> -->
                            </mat-expansion-panel> 
                        </mat-accordion>
                    </mat-card-content>
                    <!-- <h2 class="section_title">{{'property.details.communityStates' | translate}}</h2>
                    <div class="theme-container">
                        <app-community-stats></app-community-stats>                        
                    </div> -->
                </mat-card>

                <!-- <mat-card class="mt-3"> 
                    <mat-card-header fxLayoutAlign="space-between center"> 
                        <mat-card-title class="uppercase">Features</mat-card-title> 
                    </mat-card-header>
                    <mat-card-content>
                        <div fxLayout="row wrap">
                            <div *ngFor="let feature of property?.features" fxFlex="100" fxFlex.gt-xs="33.3">
                                <mat-icon class="mat-icon-sm" color="primary">check</mat-icon>
                                <span class="mx-2">{{feature}}</span>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>

                <mat-card class="mt-3" *ngIf="property?.parking"> 
                    <mat-card-header fxLayoutAlign="space-between center"> 
                        <mat-card-title class="uppercase">Parking</mat-card-title> 
                    </mat-card-header>
                    <mat-card-content>
                        <div *ngFor="let feature of property?.parking" fxFlex="100" fxFlex.gt-xs="33.33" class="item">
                            <span class="details-room">{{feature.name}}:</span>
                            <span>{{feature.value}}</span><br>
                        </div>
                    </mat-card-content>
                </mat-card> -->
            </mat-sidenav-content>
        </mat-sidenav-container>
    </div>
</div>
<div *ngIf="showLoader" class="loading-indicator">
    <mat-progress-spinner mode="indeterminate" color="accent"></mat-progress-spinner>
</div>
