.main-carousel{ 
    .swiper-slide{              
        text-align: center;
        padding-bottom: 66.25%;
        position: relative;
        overflow: hidden;  
        background: rgba(0, 0, 0, 0.04);         
    }
    img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
        max-width: 100%;
    } 
    .control-icons{ 
        position: absolute;
        z-index: 2; 
        top: 24px;
        right: 20px;
        button.mat-button{
            min-width: 36px;
            width: 36px;
            padding: 0;
            margin: 0 4px;
            background: rgba(255, 252, 252, 0.6);
            transition: 0.2s; 
            color:rgba(0, 0, 0, 0.87);
            &:disabled{
                color: rgba(0, 0, 0, 0.26); 
            }
            &:hover:enabled{
                background: rgba(255, 252, 252, 1);
            }             
        }
    }
}
.small-carousel{ 
    .swiper-slide{  
        img{
            display: block;
            opacity: 0.3;
        }
        &.active-thumb{
            img{ 
                border-width: 3px;
                border-style: solid;
                box-sizing: border-box;
                opacity: 1;
            }           
        } 
        .swiper-lazy-preloader{
            margin-top: 10px;
        }        
    } 
}
 
.widget{ 
    margin-bottom: 40px;
    .widget-title{
        margin: 0 -16px 16px;
        padding: 8px 16px;
        text-transform: uppercase;
        font-weight: 500;
    }
    &:first-child{  
        .widget-title{
            margin: -16px -16px 16px;
            padding: 8px 16px;
            text-transform: uppercase;
            font-weight: 500;
        }
    } 
} 
.details-room{
    margin-right: 8px;
    font-weight: 500;
    min-width: 114px;
    display: inline-block;
}
.side-header{
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    background: #e01a27 !important;
    color: #fff;
}

.side-header-title{
    margin: 0px !important;
}
#map {
    height: 600px;
    width: 100%;
  }

  .el-boder{
    border-style: none !important;
}
.el-button-group{
    display: inline-block;
    vertical-align: middle;
}
.el-button--primary {
    border-style: none !important;
    color: #fff;
    background-color: #e01a27;
    border-color: #e01a27;
}
.el-button, .el-input {
    font-size: 14px;
}
.el-button--small, .el-button--small.is-round {
    padding: 9px 5px;
    min-width: 80px;
    border: 1px solid #ccc;
}
.el-button-group .el-button--primary:first-child{
    border-right-color: hsla(0,0%,100%,.5);
}
.multiple_button {
    padding: 0;
    height: 36px;
}
.el-input__suffix {
    color: inherit;
    height: auto;
    margin-top: -3px;
}
.el-input__suffix-inner {
    pointer-events: all;
}
.el-select__caret {
    color: inherit;
}
.el-input__icon {
    height: 100%;
    width: 25px;
    text-align: center;
    transition: all .3s;
    line-height: 40px;
}
.el-select__caret {
    color: #c0c4cc;
    font-size: 14px;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s,-webkit-transform .3s;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    cursor: pointer;
}
.property-style-s{
    margin-top: 14px !important;
    margin-left: 10px;
}
.el-button--mult {
    padding: 9px 5px;
    width: 50px  !important;
    min-width: 50px  !important;
}
.el-button--mult-map {
    padding: 12px 5px;
    width: 120px !important;
    min-width: 100px !important;
    border: none;
    margin-bottom: 1px;
}
button:focus {
    outline: none;
}
.buttons-groups{
    margin-top: 8px;
}
.el-button--logreq {
    border-style: none !important;
    color: #fff;
    background-color: #e01a27;
    border-color: #e01a27;
    width: 100%;
    font-weight: 500;
    font-size: 18px;
    height: 58px;
}
.bg-text {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 7%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 60%;
    padding: 0px;
    text-align: center;
  }
  table {
    width: 100%;
  }
.address {
    color: #2e3b61;
    font-size: 20px;
    margin-bottom: 10px;
}
.city_name {
    color: #666;
    margin-bottom: 10px;
}
.house_type {
    color: #2e3b61;
    font-size: 20px;
}
.price_sold {
    color: #f13e3e;
    padding-top: 5px;
}
.list_status_and_list_days {
    margin: 8px 0;
    text-align: right;
}
.listed_by {
    margin-top: 8px;
    color: #000;
}
.estimate_price {
    border-left: 1px solid #eee;
    margin-left: 20px;
    padding-left: 20px;
    font-size: 1rem;
    text-align: left;
}
.estimate_price>div {
    margin-bottom: 10px;
}
.price_dollar {
    font-size: 20px;
}
.estimate_date {
    color: #666;
}
.rooms_count .container .item img {
    margin-right: 10px;
    width: 45px;
}
.el-col-24 {
    width: 100%;
}
#room_count_to_estimate .rooms_count {
    border-top: none;
}
.rooms_count {
    border-top: 1px solid #eee;
    padding-top: 40px;
    font-size: 18px;
}
.el-row {
    box-sizing: border-box;
}
.vue-flex.vue-flex-row.vue-flex-around {
    -ms-flex-pack: distribute;
    justify-content: space-around;
}
.section_title {
    font-size: 25px;
    font-weight: 400;
    padding: 30px 0 10px;
    color: #2e3b61;
}
.section_sub_title_des {
    font-weight: 400;
    line-height: 2;
    color: #000;
    padding-bottom: 10px;
    font-size: 16px;
}
.section_sub_title {
    font-weight: 400;
    color: #666;
    padding-bottom: 0px;
    font-size: 16px;
}
.title_area {
    padding: 30px 0 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.title_area .ViewInMap__link {
    color: #e01a27;
}

.two_column_data {
    line-height: 38px;
}
.el-row {
    position: relative;
}
.property_description{
    line-height: 2;
}
.el-button--primary {
    border-style: none !important;
    color: #fff;
    margin: 0px 1px;
    background-color: #e01a27;
    border-color: #e01a27;
}
.el-button--mult {
    padding: 9px 5px;
    min-width: 50px  !important;
    border: 1px solid #ccc;
}
.el-button, .el-input {
    font-size: 14px;
}
.mat-card1{  
    margin-bottom: 30px;
    background: #f2f2f2 !important;
}
.mat-card {
    text-align: left;
}
.mat-form-field .mat-form-field-flex{
    background: #fff !important;
}
.school-exp-background{
    border: 1px solid #eee;
    background: #f2f1f6 !important;
    border-radius: 0px !important;
    box-shadow: none !important;
}
.school_name {
    font-size: 18px;
    font-weight: 500;
    color: #2e3b61;
}
.school_tags {
    overflow: hidden;
    margin-top: 10px;
}
.school_tags span {
    margin-bottom: 5px;
    padding: 0 5px;
    float: left;
}
.header_container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.el-row {
    box-sizing: border-box;
}
.el-col-16 {
    width: 66.66667%;
}
.el-col-4 {
    width: 16.66667%;
}
[class*=el-col-] {
    float: left;
    box-sizing: border-box;
}
.mat-expansion-panel-header{
    height: 110px !important;
    background: white !important;
}
.school_name {
    font-size: 18px;
    color: #2e3b61;
}
.info {
    text-align: left;
    font-weight: 500;
    line-height: 16px;
    font-size: 16px;
    margin-bottom: 10px;
    color: #000;
}
.school_detail_container {
    text-align: left;
    padding-right: 19px;
    box-sizing: border-box;
    width: 100%;
    color: #000;
    padding-top: 15px;
}
.school_detail_container .info {
    font-weight: 500;
    line-height: 16px;
    font-size: 16px;
    margin-bottom: 10px;
    color: #000;
}
.school_detail_container .address {
    font-size: 14px;
}
.school_detail_container .rating {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin-top: 15px;
}
.school_detail_container div {
    line-height: 22px;
    font-size: 14px;
}
.school_detail_container div span.school_info_label {
    color: #555;
    padding-right: 5px;
}
.school_detail_container div span.school_info_label {
    color: #555;
    padding-right: 5px;
}
.school_detail_container .rating .rank {
    font-weight: 700;
    line-height: 16px;
    font-size: 16px;
    padding-bottom: 10px;
    color: #000;
}
.room-table-rows{
    font-weight: 400;
    color: #666;
}
.details-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    line-height: 38px;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}
.details-align{
    text-align: left !important;
}
.el-col-12 {
    width: 50%;
}
[class*=el-col-] {
    float: left;
    box-sizing: border-box;
}
.two_column_data h4 {
    font-weight: 500 !important;
    font-size: 18px !important;
    color: rgba(0, 0, 0, 0.87);
}

.two_column_data label {
    min-width: 130px;
    color: #666;
    margin-bottom: 0rem;
    padding-right: 10px;
}
.two_column_data p{
     margin-bottom: 0px;
}
.two_column_data span {
    overflow-wrap: break-word;
    word-break: break-word;
    color: #000;
    font-weight: 500;
}
.details-aminities{
    overflow-wrap: break-word !important;
    word-break: break-word !important;
    width: 300px !important;
}

.two_column_data {
    line-height: 38px;
}
.two_column_data div.each_column_container div.item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: left !important;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}
.each_column_container div{
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
.each_column_container div{
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
.mat-expansion-panel-spacing{
    margin: 0;
}
.vtour_button {
    text-align: center;
    line-height: 40px;
    width: 200px;
    height: 40px;
    display: inline-block;
    background: rgba(0,0,0,.5);
    border: 1px solid hsla(0,0%,100%,.8);
    position: absolute;
    -webkit-font-smoothing: antialiased;
    font-weight: 600;
    font-size: 15px;
    left: calc(50% - 100px);
    top: calc(50% - 20px);
    color: #fff;
}
.viewInMap {
    position: absolute;
    bottom: 40px;
    left: 0;
    z-index: 100;
    width: 100%;
}
.viewInMap__row {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 4%;
    box-sizing: unset;
}
.el-col-sm-24 {
    width: 100%;
}
.el-col-24 {
    width: 100%;
}
tr.mat-header-row th {
    padding-top: 15px;
    padding-bottom: 15px;
}
tr.mat-header-row {
    height: 34px;
}
tr.mat-row td, tr.mat-footer-row td{
    padding-top: 15px;
}


@media (max-width : 767px) {
    .two_column_data .el-col-12{
        width: 100%;
    }
    .table-details{
        height: auto;
        max-height: calc(100vh - 30px);
    }
    tr.mat-header-row th {
        min-width: 120px;
    }
    .property-details{
        display: block;
    }
    .property-details .right {
        text-align: left;
    }
    .property-details .right .list_status{
        display: block;
        padding: 10px 0px;
    }
    .property-details .list_status_and_list_days{
        text-align: left;
        margin: 0px 0px 20px 0px;
    } 
    .property-details .estimate_price{
        border: none;
        margin: 0px;
        padding: 0px;
    }
    .vue-flex.vue-flex-row.vue-flex-around{
        display: block;
    }
}

//map CSS
agm-map{
    // height: 700px;
    width: 100%;
    height: 92vh;
    .gmnoprint {
        display: none !important;
    }
    .gm-style .gm-style-iw-d{
        padding-right: 15px !important;
    }
    
}
.cluster-img{
    border: 5px solid #cfd8dc !important;
    border-width: 5px !important;
    border-radius: 50% !important;
    background-color: orange !important;
}
.mat-card {
    padding: 15px !important;
}
.mapImage {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: stretch;
    align-items: stretch;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    background: #fff;
    border-image: none;
    border-image: initial;
    margin: 0px;
}
.mapImage span {
    width: 100%;
    padding-top: 100%;
    overflow: hidden;
    transition: transform 1s ease 0s;
}
.mapImage span .imageDiv {
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.mapImage span .imageDiv img {
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.popup-title-p{
    width: 100%;
    display: block;
    text-align: left;
}
.popup-title{
    font-weight: 500;
    font-size: 16px;
    color: #2e3b61;
}
.popup-subtitle{
    font-weight: 400;
    font-size: 12px;
    color: #616163;
}
.popup-keys{
    font-weight: 500;
    color: #0d0d0e;
}
.popup-values{
    font-weight: 400;
    color: #fc0505;
}
.soldFor{
    color: #f13e3e;
    font-size: 26px;
}
.soldForLabel{
    font-size: 18px; 
    padding-right: 10px;
}
.mb0{
    margin-bottom: 0px !important;
}
.alignRight{
    text-align: right !important;
}
.scrachedFont{
    text-decoration: line-through;
    color: #999;
}
.labelRedColor{
    color: #f13e3e;
}
.read-more-less{
    border-radius: 0;
    border-bottom: 1px solid #e01a27;
    padding-bottom: 5px;
    color: #e01a27;
    background: 0 0;
    padding-left: 0;
    padding-right: 0;
    border-left: none;
    border-right: none;
    border-top: none;
    margin-bottom: 20px;
}
.read-more-less:active{
    color: #2493a1;
    background-color: transparent;
}

.read-more-less:hover{
    color: #53b5c2;
    border-left: none;
    border-right: none;
    border-top: none;
    background-color: transparent;
}
