<app-header-image [backgroundImage]="'assets/images/others/contact.jpg'" 
                  [bgImageAnimate]="false" 
                  [contentOffsetToTop]="false"                
                  [title]="'Our Blogs'"
                  [desc]="'Wake is a simple theme that is well suitable for blogging'">
</app-header-image>

<div class="px-3">
    <div class="theme-container">
        <div fxLayout="row wrap" class="blogs-wrapper">
            <div *ngIf="showLoader" class="loading-indicator">
                <mat-progress-spinner mode="indeterminate" color="accent"></mat-progress-spinner>
            </div>
            <div *ngFor="let blog of blogs" fxFlex="100" fxFlex.gt-md="33.33" fxFlex.md="50" fxFlex.sm="100" class="p-3">
                <mat-card>
                    <div class="productItem">
                        <span>
                        <div class="imageDiv">
                            <img *ngIf="blog.blogImagePath" src="{{blog.blogImagePath}}" alt="wishlistCircle">
                            <img *ngIf="blog.blogImagePath" src="assets/images/others/mission.jpg" alt="wishlistCircle">
                        </div></span>
                    </div>

                    <!-- <img mat-card-image src='{{blog.blogImagePath}}'> -->
                    <mat-card-content>
                        <h3 class="fw-600" class="title-blog">{{ blog.title }}</h3>
                        <p class="content-blog">{{ blog.content }}</p>
                        <p fxLayoutAlign="start center">{{'app.blog.publishedBy' | translate}} <span class="mx-2">{{ blog.createdBy }}</span></p>
                        <p fxLayoutAlign="start center">{{'app.blog.publishedDate' | translate}} <span class="mx-2">{{ blog.createdDate | date }}</span></p>
                    </mat-card-content>
                    <mat-divider></mat-divider>
                    <mat-card-actions>
                        <div class="text-center">
                            <button mat-raised-button color="accent" type="button" (click)="viewBlog(blog.id)">{{'app.blog.continueReading' | translate}}
                                <mat-icon>arrow_forward</mat-icon>
                            </button>
                        </div>
                    </mat-card-actions>
                </mat-card>
            </div>

            <!-- <div fxFlex="100" fxFlex.gt-md="50" fxFlex.md="50" fxFlex.sm="100" class="p-3">
                <mat-card>
                    <img mat-card-image src="../../../assets/images/others/mens.jpg"> 
                    <mat-card-content>
                        <h2 class="fw-600">Look At The Men’s Stylish</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam mattis nibh et tristique mollis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Duis eu nunc vel felis convallis venenatis. Etiam maximus placerat arcu, et malesuada diam laoreet at. Praesent congue arcu in est eleifend blandit. Vivamus scelerisque lorem a molestie ultrices. Aene</p>                                    
                        <p fxLayoutAlign="start center">Published By : <span class="mx-2">Mark Wood</span></p>
                        <p fxLayoutAlign="start center">Published Date : <span class="mx-2">02-Mar-2020</span></p>
                    </mat-card-content>
                    <mat-divider></mat-divider>
                    <mat-card-actions>
                        <div class="text-center">
                            <button mat-raised-button color="accent" type="button">Continue Reading
                                <mat-icon>arrow_forward</mat-icon>
                            </button>
                        </div>
                    </mat-card-actions>
                </mat-card>
            </div>

            <div fxFlex="100" fxFlex.gt-md="50" fxFlex.md="50" fxFlex.sm="100" class="p-3">
                <mat-card>
                    <img mat-card-image src="../../../assets/images/others/flower.jpg"> 
                    <mat-card-content>
                        <h2 class="fw-600">Wow Nice Smells From Flower</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam mattis nibh et tristique mollis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Duis eu nunc vel felis convallis venenatis. Etiam maximus placerat arcu, et malesuada diam laoreet at. Praesent congue arcu in est eleifend blandit. Vivamus scelerisque lorem a molestie ultrices. Aene</p>                                    
                        <p fxLayoutAlign="start center">Published By : <span class="mx-2">Tino Best</span></p>
                        <p fxLayoutAlign="start center">Published Date : <span class="mx-2">20-Jan-2020</span></p>
                    </mat-card-content>
                    <mat-divider></mat-divider>
                    <mat-card-actions>
                        <div class="text-center">
                            <button mat-raised-button color="accent" type="button">Continue Reading
                                <mat-icon>arrow_forward</mat-icon>
                            </button>
                        </div>
                    </mat-card-actions>
                </mat-card>
            </div>

            <div fxFlex="100" fxFlex.gt-md="50" fxFlex.md="50" fxFlex.sm="100" class="p-3">
                <mat-card>
                    <img mat-card-image src="../../../assets/images/others/iceland.jpg"> 
                    <mat-card-content>
                        <h2 class="fw-600">Wow So Amazing In IceLand</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam mattis nibh et tristique mollis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Duis eu nunc vel felis convallis venenatis. Etiam maximus placerat arcu, et malesuada diam laoreet at. Praesent congue arcu in est eleifend blandit. Vivamus scelerisque lorem a molestie ultrices. Aene</p>                                    
                        <p fxLayoutAlign="start center">Published By : <span class="mx-2">Ben Cutting</span></p>
                        <p fxLayoutAlign="start center">Published Date : <span class="mx-2">12-Dec-2019</span></p>
                    </mat-card-content>
                    <mat-divider></mat-divider>
                    <mat-card-actions>
                        <div class="text-center">
                            <button mat-raised-button color="accent" type="button">Continue Reading
                                <mat-icon>arrow_forward</mat-icon>
                            </button>
                        </div>
                    </mat-card-actions>
                </mat-card>
            </div> -->

        </div>
    </div>
</div>