.blogs-wrapper{
    margin: -16px;
    padding: 32px 0;
    .agent-img{
        border-top-left-radius: inherit;
        border-top-right-radius: inherit;
    }
}
.mat-card-image:first-child {
    margin-top: -16px;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    max-height: 600px;
    min-height: 600px;
    max-height: 600px;
    min-height: 600px;
    }
.productItem {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: stretch;
    align-items: stretch;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    background: #fff;
    border-image: none;
    border-image: initial;
    margin: 10px;
}
.productItem span {
    width: 100%;
    padding-top: 100%;
    overflow: hidden;
    transition: transform 1s ease 0s;
}
.productItem span .imageDiv {
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.productItem span .imageDiv img {
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.title-blog{
    color: #2e3b61;
    font-size: 20px;
    margin-bottom: 10px;
    min-height: 38px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.content-blog{
    min-height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}