<mat-form-field appearance="outline" class="w-100">
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="{{ 'app.label.searchuser' | translate }}" autocomplete="off">
</mat-form-field>
<div class="table-wrapper"> 
    <table mat-table [dataSource]="dataSource" matSort class="w-100">
  
      <!-- Image Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>{{ 'app.label.email' | translate }}  </th>
        <td mat-cell *matCellDef="let user">{{user.email}}</td>
      </ng-container> 
  
      <!-- Title Column -->
      <ng-container matColumnDef="phoneNumber">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'app.label.name' | translate }}  </th>
        <td mat-cell *matCellDef="let user">{{user.firstname}} {{user.lastname}}</td>
      </ng-container> 
      <ng-container matColumnDef="createdDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'app.label.regDate' | translate }} </th>
        <td mat-cell *matCellDef="let user" > 
          <span *ngIf="user.createdDate">{{user.createdDate | date:"dd MMMM, yyyy"}}</span>
          <span *ngIf="!user.createdDate">-</span>
        </td>
      </ng-container> 
      <ng-container matColumnDef="active">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'app.label.activeStatus' | translate }} </th>
        <td mat-cell *matCellDef="let user" > 
          <span *ngIf="user.createdDate">{{user.active}}</span>
          <span *ngIf="!user.createdDate">-</span>
        </td>
      </ng-container> 
      <!-- Actions Column -->
      <!-- <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> {{ 'app.label.action' | translate }} </th>
        <td mat-cell *matCellDef="let user">  
            <a mat-icon-button color="primary" matTooltip="View User">
                View
            </a>
        </td>
      </ng-container>  -->
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let property; columns: displayedColumns;">
      </tr>
    </table> 
    <p *ngIf="dataSource?.data.length === 0" class="py-5 mb-0 text-center">{{ 'app.label.noDataAvailable' | translate }}</p> 
</div>
<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>