<div class="header-image-wrapper" [dir]="(settings.rtl) ? 'rtl' : 'ltr'">
    <div class="bg" [style.background-image]="bgImage" [class.bg-anime]="bgImageAnimate"></div>
    <div class="mask"></div>
   
    <div class="header-image-content" fxLayout="column" fxLayoutAlign="center center" [class.offset-bottom]="contentOffsetToTop" [class.home-page]="isHomePage"  [style.min-height.px]="contentMinHeight">
        <h1 *ngIf="title" class="title">{{title}}</h1>
        <div *ngIf="isHomePage" ngClass.gt-xs="mt-4" ngClass.xs="mt-3">
          <!-- <a mat-raised-button routerLink="/about">about us</a>
          <a mat-raised-button routerLink="/contact">contact</a>       -->
        </div>

        <!-- <div *ngIf="isHomePage" class="header-tab-buttons">
          <a mat-raised-button class="tabs-corner" (click)="changeType('t2')" [ngClass]="{'corner-tab1':isResidential}">Residential</a> 
          <a mat-raised-button class="tabs-corner" (click)="changeType('t1')" [ngClass]="{'corner-tab1':!isResidential}">Commercial</a>    
        </div> -->
    </div>
  </div>