<div class="p-3">
    <div class="theme-container">
        <div fxLayout="row" fxLayoutAlign="center center" class="my-3">
            <mat-card [style.max-width.px]="500">
                <div fxLayout="column" fxLayoutAlign="center center" class="text-center">
                    <h1 class="uppercase">{{'register.register' | translate}}</h1>
                    <a mat-button routerLink="/login" color="accent" class="w-100">{{'register.already' | translate}}</a>
                </div>
                <div *ngIf="showLoader" class="loading-indicator">
                    <mat-progress-spinner mode="indeterminate" color="accent"></mat-progress-spinner>
                  </div>
                <form [formGroup]="registerForm" (ngSubmit)="onRegisterFormSubmit(registerForm.value)">
                    <mat-form-field appearance="outline" class="w-100 mt-2">
                        <mat-icon matPrefix class="mr-1 text-muted">person</mat-icon>
                        <mat-label>{{'register.firstName' | translate}}</mat-label>
                        <input matInput placeholder="{{'register.firstName' | translate}}" formControlName="firstname" required>
                        <mat-error *ngIf="registerForm.controls.firstname.errors?.required">{{'register.firstNameRequired' | translate}}
                        </mat-error>
                        <mat-error *ngIf="registerForm.controls.firstname.hasError('minlength')">{{'register.firstNameError' | translate}}</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="w-100 mt-2">
                        <mat-icon matPrefix class="mr-1 text-muted">person</mat-icon>
                        <mat-label>{{'register.lastName' | translate}}</mat-label>
                        <input matInput placeholder="{{'register.lastName' | translate}}" formControlName="lastname" required>
                        <mat-error *ngIf="registerForm.controls.lastname.errors?.required">{{'register.lastNameRequired' | translate}}
                        </mat-error>
                        <mat-error *ngIf="registerForm.controls.lastname.hasError('minlength')">{{'register.lastNameError' | translate}}</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="w-100 mt-1">
                        <mat-icon matPrefix class="mr-1 text-muted">email</mat-icon>
                        <mat-label>{{'register.email' | translate}}</mat-label>
                        <input matInput placeholder="{{'register.email' | translate}}" formControlName="email" required>
                        <mat-error *ngIf="registerForm.controls.email.errors?.required">{{'register.emailRequired' | translate}}</mat-error>
                        <mat-error *ngIf="registerForm.controls.email.hasError('invalidEmail')">{{'register.emailError' | translate}}
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="w-100 mt-1">
                        <mat-icon matPrefix class="mr-1 text-muted">lock</mat-icon>
                        <mat-label>{{'app.label.password' | translate}}</mat-label>
                        <input matInput placeholder="{{'app.label.password' | translate}}" formControlName="password" type="password" minlength="6"
                            required [type]="hide ? 'password' : 'text'">
                        <mat-error *ngIf="registerForm.controls.password.errors?.required">{{'app.label.passwordRequired' | translate}}
                        </mat-error>
                        <mat-error *ngIf="registerForm.controls.password.hasError('minlength')">{{'app.label.passwordError' | translate}}</mat-error>
                        <button mat-icon-button matSuffix (click)="hide = !hide" type="button" class="text-muted">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="w-100 mt-1">
                        <mat-icon matPrefix class="mr-1 text-muted">lock</mat-icon>
                        <mat-label>{{'app.label.confirmpassword' | translate}}</mat-label>
                        <input matInput placeholder="{{'app.label.confirmpassword' | translate}}" formControlName="confirmPassword" type="password"
                            required [type]="hide ? 'password' : 'text'">
                        <mat-error *ngIf="registerForm.controls.confirmPassword.errors?.required">{{'app.label.confirmPasswordRequired' | translate}}</mat-error>
                        <mat-error *ngIf="registerForm.controls.confirmPassword.hasError('mismatchedPasswords')">
                            {{'app.label.confirmPasswordError' | translate}}</mat-error>
                        <button mat-icon-button matSuffix (click)="hide = !hide" type="button" class="text-muted">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="w-100 mt-1">
                        <mat-icon matPrefix class="mr-1 text-muted">phone</mat-icon>
                        <mat-label>{{'register.phone' | translate}}</mat-label>
                        <input type="number" matInput placeholder="{{'register.phone' | translate}}" formControlName="phoneNumber" required>
                        <mat-error *ngIf="registerForm.controls.phoneNumber.errors?.required">{{'register.phonerequired' | translate}}
                        </mat-error>
                        <mat-error *ngIf="registerForm.controls.phoneNumber.hasError('invalidEmail')">{{'register.phone.phoneError' | translate}}</mat-error>
                    </mat-form-field>
                    <div [ngClass]="registrationClass" *ngIf="registrationFlag" >
                        <p>{{ registrationMsg }}</p>
                    </div>
                    <div class="text-center mt-2">
                        <button mat-raised-button color="accent" class="uppercase" type="submit">
                            {{'register.create' | translate}} 
                        </button>
                    </div>
                </form>
                <div class="divider mt-4"></div>
                <mat-card-actions fxLayoutAlign="center center" class="text-center">
                    <small class="my-3">{{'register.note' | translate}}  <a mat-button
                            (click)="openTermsDialog()" color="primary" class="mx-2">{{'register.tc' | translate}}</a>
                    </small>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>