<app-header-image [backgroundImage]="'assets/images/others/contact.jpg'" 
                  [bgImageAnimate]="false" 
                  [contentOffsetToTop]="true"                
                  [title]="'Contact Us'"
                  [desc]="'Got a question? We\'ll give you straight answer'">
</app-header-image>

<div class="px-3">

    <div class="theme-container">
        <mat-card class="main-content-header mb-5">
            
            <div fxLayout="row wrap" class="properties-wrapper mt-0" *ngIf="properties">
                <div fxFlex="100" class="px-3 mb-4">
                    <agm-map *ngIf="properties.length > 0" maxZoom="18" [latitude]="properties[0].latitude" [longitude]="properties[0].longitude" [zoom]="zoomLevel" [fullscreenControl]='true' [mapTypeControl]='true' (mapReady)="mapReady($event)" (zoomChange)="zoomChange($event)">
                        <agm-marker-cluster (clusterClick)="clickOnCluster($event)" [minimumClusterSize]= "minClusterSize"  imagePath="https://raw.githubusercontent.com/googlemaps/v3-utility-library/master/markerclustererplus/images/m" [styles]="clusterStyles" [usePanning]="true">
                            <agm-marker *ngFor="let property of properties"
                           [latitude]="property.latitude" title={{property.id}} [longitude]="property.longitude" (dragEnd)="centerChange($event)">
                            <agm-info-window>
                                <mat-card *ngIf="property" class="mt-3">
                                    <div fxLayout="row wrap">
                                        <div class='column popup-style-right'> 
                                            <span class="popup-title-p">
                                                <span class="popup-title">{{property.type}}</span>
                                                <span class="popup-subtitle"> For {{property.saleLease}}</span>
                                            </span>
                                            <div class="mapImage">
                                                <span>
                                                    <div class="imageDiv">
                                                        <img [src]="'https://property.mindnerves.com/api/property/download-image/' + property.propertyImage" alt="wishlistCircle">
                                                    </div>
                                                </span>
                                            </div>
                                        </div>
                                        <div class='column popup-style-left'>
                                            <span class="popup-subtitle">Listing Date : {{property.listingEntryDate | date:"dd-MM-yyyy"}}</span><br><br>
                                            <span><span class="popup-keys">Address:</span>  {{property.locationSearch}}</span><br>
                                            <span><span class="popup-keys">Bedrooms:</span>  {{property.bedrooms}}</span><br>
                                            <span><span class="popup-keys">Bathrooms:</span>  {{property.washrooms}}</span><br>
                                            <span><span class="popup-keys">Parking:</span>  {{property.parkingSpaces}}</span><br>
                                            <span><span class="popup-keys">Prize:</span> <span class="popup-values"> ${{property.listPrice}}</span> </span><br>

                                            <b><span style='color: #0078A8;'>Days on market :</span></b>
                                            <span>{{property.daysOnMarket}} days</span>
                                        </div>
                                    </div>
                                    
                                </mat-card>
                            </agm-info-window>
                           </agm-marker>
                        </agm-marker-cluster>
                    </agm-map>
                </div>
            </div>
        </mat-card>  
    </div>

</div>