$font-family: 'Montserrat';
$theme-max-width: 1350px;
$top-toolbar-height: 60px;
$main-toolbar-height: 12px;
$user-menu-width: 220px;
$header-image-min-height: 150px;
$header-carousel-height: 460px;
$main-content-header-offset-to-top: 174px;

$main-sidenav-width: 250px;
$search-sidenav-width: 288px;