<div class="section mt-3">
  <div class="px-3">
      <!-- <div class="theme-container">
          <h1 class="section-title mb-3">Our Clients</h1>
          <p class="text-center">Sed magna ipsum, ultricies sed sagittis nec, scelerisque eu libero. Donec at metus ac eros accumsan semper.</p>

          <div class="clients-carousel"> 
              <div class="swiper-container h-100" [swiper]="config"> 
                  <div class="swiper-wrapper h-100">      
                      <div *ngFor="let client of clients" class="swiper-slide">
                          <div class="client-item"> 
                              <img [attr.data-src]="client.image" class="swiper-lazy"> 
                              <div class="swiper-lazy-preloader"></div>
                          </div>
                      </div>
                  </div> 
              </div>
          </div>
              
      </div> -->
  </div>   
</div>