
<h3 class="section_sub_title">Community Median Price( Detached ) *</h3>
<div class="chart-frame"> 
    <ngx-charts-line-chart
        [legend]="true"
        [showXAxisLabel]="true"
        [showYAxisLabel]="true"
        [xAxis]="true"
        [yAxis]="true"
        [xAxisLabel]="'Year'"
        [yAxisLabel]="'price'"
        [timeline]="true"
        [results]="multi"
        >
    </ngx-charts-line-chart>
</div>