.chart-title{
    padding: 20px 0px 10px 10px;
    font-family: "Montserrat";
}
.chart-frame{
    height: 370px; 
    width: 100%;
    padding: 10px 15px;
}
.button--mini{
    color: #fff;
    background-color: #e01a27;
    border-color: #e01a27;
    font-size: 16px;
    border-radius: 3px;
    padding: 7px 15px;
}
.global-link{
    margin-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    width: 100%;
}
.section_sub_title {
    font-weight: 400;
    color: #666;
    padding-bottom: 0px;
    font-size: 16px;
}