<div fxLayout="row wrap">
    <div fxFlex="100" fxFlex.gt-sm="100" class="p-3">
        <h2 class="text-muted text-center fw-600 mb-3">{{ 'app.menu.mortgageSetting' | translate }}</h2>
        <form [formGroup]="infoForm" (ngSubmit)="onInfoFormSubmit(infoForm.value)"> 
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>{{ 'app.label.mortgagePer' | translate }}</mat-label>
                <input matInput placeholder="{{ 'app.label.mortgagePer' | translate }}" formControlName="interestRate" required autocomplete="off">
                <mat-error *ngIf="infoForm.controls.interestRate.errors?.required">{{'error.ROIRequired' | translate}}</mat-error>
                <mat-error *ngIf="infoForm.controls.interestRate.errors?.pattern">{{'error.EnterOnlyNumber' | translate}}</mat-error>
            </mat-form-field>
            <div class="text-center mt-2">
                <button mat-raised-button color="primary" type="submit" class="uppercase">{{ 'app.button.submit' | translate }}</button>
            </div> 
        </form>
    </div>
    <div *ngIf="showLoader" class="loading-indicator">
        <mat-progress-spinner mode="indeterminate" color="accent"></mat-progress-spinner>
    </div>
</div> 

