<div fxLayout="row wrap">
    <div fxFlex="100" fxFlex.gt-sm="100" class="p-3">
        <h2 class="text-muted text-center fw-600 mb-3">{{ 'app.label.addBlog' | translate }}</h2>
        <form [formGroup]="infoForm" (ngSubmit)="onInfoFormSubmit(infoForm.value)"> 
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>{{ 'app.label.blogTitle' | translate }}</mat-label>
                <input matInput placeholder="{{ 'app.label.blogTitle' | translate }}" formControlName="title" required autocomplete="off">
                <mat-error *ngIf="infoForm.controls.title.errors?.required">{{'title.titleRequired' | translate}}</mat-error>
                <mat-error *ngIf="infoForm.controls.title.hasError('minlength')">{{'title.titleError' | translate}}</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>{{ 'app.label.blogContent' | translate }}</mat-label>
                <textarea matInput autocomplete="off" formControlName="content" rows="7"></textarea>
                <mat-error *ngIf="infoForm.controls.content.errors?.required">{{'content.contentRequired' | translate}}</mat-error>
                <mat-error *ngIf="infoForm.controls.content.hasError('minlength')">{{'content.contentError' | translate}}</mat-error>
            </mat-form-field>
            <div class="mb-3">
                <input-file placeholder="{{ 'app.label.blogImage' | translate }}" formControlName="blogImage" fileLimit="1" fileAccept="image/*" [linkEnabled]="false"></input-file>  
            </div>
            <div class="text-center mt-2">
                <button mat-raised-button color="primary" type="submit" class="uppercase">{{ 'app.button.submit' | translate }}</button>
            </div> 
        </form>
    </div>
</div> 
<div *ngIf="showLoader" class="loading-indicator">
    <mat-progress-spinner mode="indeterminate" color="accent"></mat-progress-spinner>
</div>