<app-header-image *ngIf="settings.header == 'image'" 
                [backgroundImage]="'assets/images/others/homepage.jpg'"
                [bgImageAnimate]="true"
                [contentOffsetToTop]="true"
                [title]="'Live The POSHLIFE'"
                [desc]="'Leading Real Estate Company'"
                (onTypeChangeClick)="typeChanged($event)"
                [isHomePage]="true">
</app-header-image> 

<app-header-carousel *ngIf="settings.header == 'carousel'" 
                    [slides]="slides" 
                    [contentOffsetToTop]="true">
</app-header-carousel>

<div class="px-3">
    <div class="theme-container">
        <mat-card class="main-content-header">
            <app-properties-search 
                [variant]="settings.searchPanelVariant"
                [searchOnBtnClick]="settings.searchOnBtnClick"
                [removedSearchField]="removedSearchField"
                (onSearchChange)="searchChanged($event)"
                (onSearchClick)="searchClicked()"
                (onResetClick)="resetClicked()"
                [isHorizontal1]="'false'">
            </app-properties-search>
        </mat-card>
    </div>

    <div *ngIf="showLoader" class="loading-indicator" >
        <mat-progress-spinner class="avatar" mode="indeterminate" color="accent"></mat-progress-spinner>
    </div>
    <div class="theme-container"> 
        <div fxLayout="row wrap" class="properties-wrapper">
            <div fxFlex="100" fxLayoutAlign="start start" class="p-2"> 
                <mat-chip-list [ngClass]="(settings.rtl) ? 'ml-2' : 'mr-2'">
                    <mat-chip *ngIf="propertiesCount" selected disableRipple="true" class="ws-nowrap">
                        {{ propertiesCount }} {{ 'app.label.found' | translate }}
                    </mat-chip> 
                    <mat-chip *ngIf="!propertiesCount" selected disableRipple="true" class="ws-nowrap">
                        {{ 'property.noPropertiesFound' | translate }}
                    </mat-chip>
                </mat-chip-list>
                <!-- <app-properties-search-results-filters 
                    [searchFields]="searchFields" 
                    (onRemoveSearchField)="removeSearchField($event)">
                </app-properties-search-results-filters>                  -->
            </div>
            <div fxFlex="100" class="p-2" *ngIf="!propertiesStatus">                
                <!-- <app-properties-toolbar [isHomePage]="true" 
                                        (onChangeCount)="changeCount($event)"
                                        (onChangeSorting)="changeSorting($event)"
                                        (onChangeViewType)="changeViewType($event)"></app-properties-toolbar> -->
            </div>
            <div *ngFor="let property of propertiesnew" [fxFlex]="(viewType=='grid') ? viewCol : 100" class="item">                         
                <app-property-item [property]="property" [viewType]="viewType" [viewColChanged]="viewCol"></app-property-item>
            </div>
            <div *ngIf="propertiesnew?.length != propertiesStatus?.count" fxFlex="100" fxLayoutAlign="center center" class="p-2 mt-2">                
                <app-load-more [step]="0" (onLoadMoreClick)="loadMore($event)"></app-load-more> 
            </div>
        </div>
    </div>
</div>

<!-- <app-our-services></app-our-services> -->
<!-- <app-featured-properties [properties]="featuredProperties"></app-featured-properties> -->
